@media only screen and (min-device-width: 1153px) and (max-device-width: 1280px) {
    /* NAVBAR HEADER */
  
    .mylogo {
      font-size: 1.6rem;
    }
  
    .nav__menu-item {
      font-size: 1.1rem;
    }
  
    /* HOME */
  
    /* style animation title left */
    .welcome__title {
      font-size: 2.4rem;
      padding-left: 80px;
    }
  
    .welcome__subtitle {
      font-size: 2.4rem;
      padding-left: 180px;
    }
  
    .title__home-name {
      font-size: 2.6em;
      margin-left: 40px;
    }
  
    .title__home-name > span {
      font: 800 1em/1.7;
    }
  
    .title__home-dev {
      font-size: 1.9em;
      margin-left: 50px;
    }
  
    .container__p-home {
      max-width: 500px;
      margin-top: 30px;
    }
  
    .container__p-home p {
      font-size: 1.1rem;
    }
  
    /* Image profile and background decoration */
    .container__image-profile {
      max-width: 400px;
      max-height: 400px;
    }
  
    /* ABOUT ME AND EDUCATION */
  
    /* title and paragraph */
    .content__left-about h1 {
      font-size: 2.3rem;
      margin-bottom: 30px;
    }
  
    .container__p-about {
      max-width: 500px;
    }
  
    /* EDUCATION SECTION */
  
    /* titles and paragraph */
    .content__right-education h1 {
      font-size: 2.3rem;
    }
  
    .content__right-education h3 {
      font-size: 1.3rem;
      margin-bottom: 30px;
    }
  
    /* SKILLS AND OTHER COURSES */
  
    .skills__other-courses {
      height: 110vh;
    }
  
    /* titles skills */
    .title__skill {
      font-size: 2.3rem;
    }
  
    .subtitle__skill {
      font-size: 1.2rem;
    }
  
    .title__skills-bar {
      font-size: 1.3rem;
    }
  
    .container__skills-bar {
      width: 380px;
    }
  
    .skills__header {
      margin-bottom: 1.8rem;
    }
  
    /* Icons */
    .skills__icon,
    .skills__arrow {
      font-size: 2.5em;
    }
  
    /* OTHER COURSES */
  
    .content__right-courses h1 {
      font-size: 2.3rem;
    }
  
    .container__certificated-courses {
      max-width: 580px;
    }
  
    .content__right-courses h4 {
      font-size: 1.1rem;
    }
  
    /* PROJECTS EXPERIENCE */
    .projects {
      height: 110vh;
    }
  
    .container__container-left_projects,
    .container__container-right_projects {
      max-width: 540px;
    }
  
    /* Titles and paragraph */
    .content__left-projects h1 {
      font-size: 2.3rem;
    }
  
    .content__left-projects h2 {
      font-size: 1.5rem;
    }
  
    .subtitle__name-projects {
      font-size: 1.3rem;
    }
  
    .subtitle__date-projects {
      font-size: 1em;
    }
  
    /* FOOTER */
    .title__footer {
      font: 800 3.3em/1 "Neuto", sans-serif;
    }
  
    .footer__form h2 {
      font-size: 1.9em;
    }
  
    .footer__input {
      height: 30px;
      width: 380px;
    }
  
    .footer__input-message {
      height: 70px;
      width: 380px;
      margin-top: 8px;
    }
  
    .subtitle__footer-name {
      font-size: 1.4rem;
    }
  
    .subtitle__footer-copy {
      font-size: 1.4rem;
    }
  
    .link__items {
      font-size: 1.4rem;
    }
  }
  
  @media only screen and (min-device-width: 1025px) and (max-device-width: 1152px) {
    /* NAVBAR HEADER */
    .header {
      height: 45px;
    }
  
    .background__header-decoration {
      height: 45px;
    }
  
    .mylogo {
      font-size: 1.4rem;
    }
  
    .nav__menu-item {
      font-size: 0.9rem;
    }
  
    /* HOME */
  
    .welcome__title {
      font-size: 2.2rem;
      padding-left: 50px;
    }
  
    .welcome__subtitle {
      font-size: 2.2rem;
      padding-left: 150px;
    }
  
    .title__home-name {
      font-size: 2.2em;
      margin-left: 50px;
    }
  
    .title__home-name > span {
      font: 800 0.9em/1.7;
    }
  
    .title__home-dev {
      font-size: 1.5em;
      margin-left: 65px;
    }
  
    .container__p-home {
      max-width: 380px;
      margin-top: 20px;
    }
  
    /* Image profile and background decoration */
    .container__image-profile {
      max-width: 370px;
      max-height: 370px;
    }
  
    /* ABOUT ME AND EDUCATION */
  
    /* Background content decoration */
    .background__header-about {
      height: 45px;
    }
  
    .content__left-about h1 {
      font-size: 2.1rem;
      margin-bottom: 25px;
    }
  
    .container__p-about {
      max-width: 450px;
    }
  
    /* EDUCATION SECTION */
  
    /* titles and paragraph */
    .content__right-education h1 {
      font-size: 2.1rem;
    }
  
    .content__right-education h3 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  
    .container__p-education {
      max-width: 450px;
      align-self: center;
    }
  
    /* SKILLS AND OTHER COURSES */
  
    /* Background decoration */
    .background__skills-header {
      height: 45px;
    }
  
    .skills__other-courses {
      height: 120vh;
    }
  
    /* titles skills */
    .title__skill {
      font-size: 2.1rem;
    }
  
    .subtitle__skill {
      font-size: 1.1rem;
    }
  
    .title__skills-bar {
      font-size: 1.2rem;
    }
  
    .container__skills-bar {
      width: 350px;
    }
  
    /* Icons */
    .skills__icon,
    .skills__arrow {
      font-size: 2.3em;
    }
  
    /* OTHER COURSES */
  
    .content__right-courses h1 {
      font-size: 2.1rem;
    }
  
    .container__certificated-courses {
      max-width: 470px;
      margin-right: 30px;
    }
  
    /* PROJECTS EXPERIENCE */
    .projects {
      height: 120vh;
    }
  
    /* Background decoration */
    .background__header-projects {
      height: 45px;
    }
  
    .content__right-projects {
      margin-top: 180px;
    }
  
    .container__container-left_projects,
    .container__container-right_projects {
      max-width: 470px;
    }
  
    /* Titles and paragraph */
    .content__left-projects h1 {
      font-size: 2.1rem;
    }
  
    .content__left-projects h2 {
      font-size: 1.3rem;
    }
  
    .subtitle__name-projects {
      font-size: 1.2rem;
    }
  
    /* FOOTER */
  
    .title__name-footer {
      font-size: 2.5em;
    }
  
    .title__footer {
      font: 800 2.7em/1 "Neuto", sans-serif;
    }
  
    .footer__form h2 {
      font-size: 1.7em;
    }
  
    .style__label {
      font-size: 1.2em;
    }
  
    .footer__input {
      height: 30px;
      width: 330px;
      font-size: 0.9rem;
    }
  
    .footer__input-message {
      height: 60px;
      width: 330px;
      margin-top: 8px;
      font-size: 0.9rem;
    }
  
    .footer__button {
      height: 30px;
      width: 150px;
    }
  
    .subtitle__footer-name {
      font-size: 1.2rem;
    }
  
    .subtitle__footer-copy {
      font-size: 1.2rem;
    }
  
    .link__items {
      font-size: 1.1rem;
    }
  }
  
  @media only screen and (min-device-width: 855px) and (max-device-width: 1024px) {
    /* NAVBAR HEADER */
    .header {
      height: 40px;
    }
  
    /* Header decoration */
    .background__header-decoration {
      height: 40px;
    }
  
    .mylogo {
      font-size: 1.2rem;
      margin-left: 0px;
    }
  
    .nav__menu-item {
      font-size: 0.7rem;
    }
  
    /* HOME */
  
    .home {
      height: 90vh;
    }
  
    .content__left-home {
      padding-top: 60px;
    }
  
    .content__left-home {
      padding-top: 3.5em;
    }
  
    /* style animation title left */
    .welcome__title {
      font-size: 1.7rem;
      padding-left: 30px;
    }
  
    .welcome__subtitle {
      font-size: 1.7rem;
      padding-left: 100px;
      margin-bottom: 0.4em;
    }
  
    .title__home-name {
      font-size: 1.8em;
      margin-left: 20px;
    }
  
    .title__home-name {
      font: 800 0.6em/1.4;
    }
  
    .title__home-dev {
      font-size: 1.3em;
      margin-left: 30px;
    }
  
    .container__p-home {
      max-width: 360px;
      margin-top: 17px;
    }
  
    /* ABOUT ME AND EDUCATION */
    .about-me__education {
      height: 120vh;
    }
  
    /* Image profile and background decoration */
    .container__image-profile {
      max-width: 330px;
      max-height: 330px;
    }
  
    /* Background content decoration */
    .background__header-about {
      height: 40px;
    }
  
    .content__left-about h1 {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
  
    .container__p-about {
      max-width: 380px;
    }
  
    /* EDUCATION SECTION */
  
    /* titles and paragraph */
    .content__right-education h1 {
      font-size: 1.8rem;
    }
  
    .content__right-education h3 {
      font-size: 1.1rem;
      margin-top: 15px;
    }
  
    .content__right-education li > h4 {
      font-size: 1.1rem;
      margin-bottom: 5px;
    }
  
    .container__p-education {
      max-width: 380px;
    }
  
    .position__right-education {
      flex-direction: column;
    }
  
    .position__right-education p {
      margin-bottom: 5px;
    }
  
    /* SKILLS AND OTHER COURSES */
  
    .background__skills-header {
      height: 40px;
    }
  
    .skills__other-courses {
      height: 120vh;
    }
  
    /* titles skills */
    .title__skill {
      font-size: 1.8rem;
    }
  
    .title__skills-bar {
      font-size: 1.1rem;
    }
  
    .subtitle__skills-bar {
      font-size: 1rem;
    }
  
    .container__skills-bar {
      width: 330px;
    }
  
    /* Icons */
    .skills__icon,
    .skills__arrow {
      font-size: 2em;
    }
  
    /* OTHER COURSES */
    .content__right-courses h1 {
      font-size: 1.8rem;
    }
  
    .content__right-courses h4 {
      font-size: 1.1rem;
    }
  
    .container__certificated-courses {
      max-width: 440px;
      margin-right: 30px;
    }
  
    /* PROJECTS EXPERIENCE */
  
    .projects {
      height: 130vh;
    }
  
    .background__header-projects {
      height: 40px;
    }
  
    .content__right-projects {
      margin-top: 150px;
    }
  
    .container__container-left_projects,
    .container__container-right_projects {
      max-width: 380px;
    }
  
    /* Titles and paragraph */
    .content__left-projects h1 {
      font-size: 1.8rem;
      margin-top: 50px;
    }
  
    .content__left-projects h2 {
      font-size: 1.1rem;
    }
  
    .subtitle__name-projects {
      font-size: 1.1rem;
    }
  
    .subtitle__date-projects {
      font-size: 1em;
      margin-top: 3px;
    }
  
    /* FOOTER */
  
    .title__footer-container {
      margin-left: 20px;
    }
  
    .title__name-footer {
      font-size: 1.7em;
      margin-left: -15px;
      margin-top: 80px;
    }
  
    .title__footer {
      font: 800 2em/1 "Neuto", sans-serif;
      line-height: 40px;
    }
  
    .footer__form h2 {
      font-size: 1.5em;
    }
  
    .style__label {
      font-size: 1.1em;
    }
  
    .footer__input {
      width: 280px;
      font-size: 0.9rem;
    }
  
    .footer__input-message {
      width: 280px;
      margin-top: 5px;
      font-size: 0.9rem;
    }
  
    .footer__button {
      width: 120px;
    }
  
    .subtitle__footer-name {
      font-size: 1.1rem;
      margin: 0px 0px 20px 130px;
    }
  
    .subtitle__footer-copy {
      font-size: 1.1rem;
      margin: 0px 130px 20px 0px;
    }
  
    .link__items {
      font-size: 0.8rem;
    }
  
    .link__names-active {
      height: 40px;
    }
  }
  
  @media only screen and (max-device-width: 767px) {
    /* NAVBAR HEADER */
  
    .header {
      height: 40px;
      width: 100%;
    }
  
    /* Header decoration */
    .background__header-decoration {
      height: 40px;
      width: 100%;
    }
  
    .mylogo {
      font-size: 1.2rem;
      align-self: center;
    }
  
    .nav__menu {
      flex-direction: column;
      align-items: center;
      background-color: #000000a4;
      font-weight: var(--font-ultra-bold);
      position: fixed;
      top: 30px;
      width: 100%;
      height: 100%;
      padding: 20px 0;
      overflow-y: auto;
      left: 100%;
      transition: left 0.5s;
    }
  
    .nav__menu-item {
      text-align: center;
      line-height: 60px;
      width: 35%;
      border-radius: 30px;
      border-bottom: solid rgba(201, 201, 201, 0.815);
      border-left: solid rgba(201, 201, 201, 0.815);
      border-right: none;
      background: #464646a8;
    }
  
    .nav__menu-link:hover,
    .nav__menu-link_active,
    .nav__menu-link_active-all {
      background: none;
      color: #1395d1;
    }
  
    .nav__toggle {
      display: block;
    }
  
    .nav__menu-visible {
      left: 0;
    }
  
    .nav__toggle:focus:not(:focus-visible) {
      outline: none;
    }
  
    /* HOME */
  
    .home {
      /* grid-template-columns: 50%; */
      grid-template-rows: 60%;
      height: 40em;
      /* border: solid; */
    }
  
    .container__left {
      order: 2;
      grid-column: 3/1;
      height: 15em;
      /* border: yellow solid; */
    }
  
    .content__left-home {
      /* flex-direction: row; */
      padding: 0px 0px 0px 0px;
      justify-content: center;
    }
  
    /* style animation title left */
    .container__titles {
      position: absolute;
      top: 0;
      
      /* left: 0; */
      /* margin-left: 40px; */
      z-index: 2;
      width: 100%;
      height: 60%;
       /* border: solid blue; */
    }
  
    .welcome__title {
      font-size: 1.5rem;
      /* padding-left: 40px; */
      margin-top: 50px;
      /* text-align: center; */
      /* border: solid; */
    }
  
    .welcome__subtitle {
      font-size: 1.5rem;
      padding-left: 160px;
      /* border: solid; */
    }
  
    .title__home-name {
      font-size: 1.5em;
      margin-top: 180px;
      margin-bottom: -10px;
      text-align: center;
      /* margin-left: 40px; */
    }
  
    .title__home-name > span {
      font: 800 1em/1.7;
    }
  
    .title__home-dev {
      font-size: 1.1em;
      /* text-align: center; */
      margin-left: 125px;
      padding: 5px;
      /* border: solid; */
    }
  
    .container__p-home {
      margin-top: 0px;
      max-width: 450px;
      /* border: solid; */
    }
  
    .container__p-home p {
      font-size: 1rem;
      align-self: flex-start;
    }
  
    /* Image profile and background decoration */
    .container__right {
      /* grid-column: 1/3; */
      display: flex;
      justify-content: flex-end;
    }
  
    .container__position-profile {
      /* width: 50%; */
      border: solid white;
    }
  
    .container__image-profile {
      margin-top: 50px;
      width: 180px;
      height: 180px;
    }
  
    .background__home-decoration {
      width: 100%;
      height: 60%;
    }
  
    /* ABOUT ME AND EDUCATION */
  
    .about-me__education {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      height: 130vh;
    }
  
    /* Background content decoration */
    .background__header-about {
      height: 40px;
    }
  
    /* Content left */
  
    .container__left-about {
      height: 100%;
      grid-column: 1/3;
    }
  
    /* title and paragraph */
    .content__left-about h1 {
      font-size: 1.5em;
      padding-bottom: 0.7em;
      margin-top: 50px;
      margin-bottom: 0px;
    }
  
    .container__p-about {
      max-width: 100%;
    }
  
    .content__left-about p {
      font-size: 0.9em;
      line-height: 1.4em;
      max-width: 650px;
    }
  
    /* EDUCATION SECTION */
  
    .container__right-education {
      height: 100%;
      grid-column: 1/3;
    }
  
    /* titles and paragraph */
    .content__right-education h1 {
      font-size: 1.5em;
      margin-top: -20px;
    }
  
    .content__right-education h3 {
      font-size: 1.2em;
      margin: 10px 0px 0px 0px;
    }
  
    .container__p-education {
      width: 700px;
    }
  
    .container__p-education p {
      font-size: 1em;
      margin-bottom: 2px;
    }
  
    .content__right-education li > h4 {
      font-size: 1.2em;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  
    .position__right-education {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
    }
  
    .position__right-education p {
      font-size: 0.9em;
    }
  
    /* SKILLS AND OTHER COURSES */
  
    .skills__other-courses {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      height: 185vh;
    }
  
    /* Background decoration */
    .background__skills-header {
      height: 40px;
    }
  
    .container__left-skills {
      grid-column: 1/3;
      order: 2;
      height: 100%;
    }
  
    /* titles skills */
    .title__skill {
      font-size: 1.5em;
      margin: 0px;
    }
  
    .subtitle__skill {
      font-size: 1.2em;
      margin-top: 25px;
    }
  
    .title__skills-bar {
      font-size: 1.2em;
    }
  
    .subtitle__skills-bar {
      font-size: 1em;
    }
  
    .container__skills-bar {
      width: 100%;
      margin-bottom: 2em;
    }
  
    .skills__header {
      margin-bottom: 1.4rem;
    }
  
    .skills__icon,
    .skills__arrow {
      font-size: 2em;
    }
  
    /* Experience percentage */
    .skills__name {
      font-size: 0.9em;
    }
  
    .skills__number {
      font-size: 0.9em;
    }
  
    .skills__bar,
    .skills__percentage {
      height: 10px;
    }
  
    /* OTHER COURSES */
  
    .container__right-courses {
      grid-column: 1/3;
      height: 100%;
    }
  
    .content__right-courses h1 {
      font-size: 1.5em;
      margin-top: 50px;
    }
  
    .container__certificated-courses {
      width: 100%;
    }
  
    .content__right-courses h4 {
      font-size: 1.1em;
    }
  
    .position-courses {
      padding-bottom: 8px;
    }
  
    /* Certificate */
    .shakeX a {
      font-size: 1em;
    }
  
    /* PROJECTS EXPERIENCE */
    .projects {
      grid-template-columns: 1fr;
      height: 180vh;
    }
  
    /* Background decoration */
    .background__header-projects {
      height: 40px;
    }
  
    .content__right-projects {
      margin-top: 0;
    }
  
    .container__container-left_projects,
    .container__container-right_projects {
      width: 100%;
      align-self: center;
    }
  
    .content__left-projects h1 {
      font-size: 1.5em;
      margin-top: 50px;
    }
  
    .content__left-projects h2 {
      font-size: 1.2em;
    }
  
    .subtitle__name-projects {
      font-size: 1.1em;
      margin-bottom: 6px;
    }
  
    .subtitle__date-projects {
      font-size: 1em;
    }
  
    .paragraph__projects {
      font-size: 0.9em;
      line-height: 1.4em;
      padding-top: 3px;
      padding-bottom: 15px;
    }
  
    /* FOOTER */
  
    .footer {
      height: 130vh;
    }
  
    .background__footer-decoration {
      height: 100%;
    }
  
    .container__nav-form {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
    }
  
    .title__footer-container {
      grid-column: 1/3;
      height: 80%;
      margin-left: 0;
      padding-bottom: 0px;
      justify-content: flex-start;
    }
  
    /* style animation title */
    .title__name-footer {
      font-size: 2em;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  
    .title__footer {
      font: 800 2.5em/1 "Neuto", sans-serif;
      letter-spacing: 0.3em;
      padding: 20px;
    }
  
    .footer__form {
      grid-column: -3 / -1;
      height: 100%;
      margin-top: -100px;
    }
  
    .footer__form h2 {
      font-size: 1.3em;
    }
  
    .style__label {
      font-size: 1.1em;
    }
  
    .footer__input {
      height: 30px;
      width: 300px;
    }
  
    .footer__input-message {
      height: 60px;
      width: 300px;
    }
  
    .footer__button {
      height: 30px;
      width: 300px;
    }
  
    .subtitle__footer-name {
      font-size: 1.2rem;
      margin: 0px 0px 30px 50px;
    }
  
    .subtitle__footer-copy {
      font-size: 1.2rem;
      margin: 0px 50px 30px 0px;
    }
  
    .footer__social {
      padding-top: 25px;
      padding-inline: 40px;
    }
  
    .link__items {
      font-size: 1.1rem;
    }
  
    .link__names-active {
      height: 40px;
    }
  
    .footer__icons {
      font-size: 1.3em;
    }
  }
  
  @media only screen and (max-device-width: 376px) {
    /* NAVBAR HEADER */
  
    .header {
      height: 30px;
      width: 375px;
      padding: 10px 10px;
    }
  
    /* Header decoration */
    .background__header-decoration {
      height: 30px;
    }
  
    .mylogo {
      font-size: 1.1rem;
      margin-left: 0;
    }
  
    .nav__menu {
      width: 375px;
      padding-top: 50px;
    }
  
    .nav__menu-item {
      /* text-align: center; */
      line-height: 40px;
      width: 200px;
      border-radius: 30px;
      border-bottom: solid rgba(201, 201, 201, 0.815);
      border-left: solid rgba(201, 201, 201, 0.815);
      border-right: none;
      background: #464646a8;
    }
  
    .nav__menu-link:hover,
    .nav__menu-link_active,
    .nav__menu-link_active-all {
      background: none;
      color: #1395d1;
    }
  
    .nav__toggle {
      display: block;
    }
  
    .nav__menu-visible {
      left: 0;
    }
  
    .nav__toggle:focus:not(:focus-visible) {
      outline: none;
    }
  
    /* HOME */
  
    .home {
      /* grid-template-columns: 50%; */
      grid-template-rows: 60%;
      height: 40em;
      /* border: solid; */
    }
  
    .container__left {
      order: 2;
      grid-column: 3/1;
      height: 15em;
      /* border: yellow solid; */
    }
  
    .content__left-home {
      /* flex-direction: row; */
      padding: 0px 0px 0px 0px;
      justify-content: center;
    }
  
    /* style animation title left */
    .container__titles {
      position: absolute;
      top: 0;
      
      /* left: 0; */
      /* margin-left: 40px; */
      z-index: 2;
      width: 100%;
      height: 60%;
       /* border: solid blue; */
    }
  
    .welcome__title {
      font-size: 1.2rem;
      padding-left: 70px;
      margin-top: 40px;
      /* text-align: center; */
      /* border: solid; */
    }
  
    .welcome__subtitle {
      font-size: 1.2rem;
      padding-left: 100px;
      /* border: solid; */
    }
  
    .title__home-name {
      font-size: 1.4em;
      margin-top: 190px;
      margin-bottom: -10px;
      text-align: center;
      margin-left: -10px;
      /* border: solid; */
    }
  
    .title__home-name > span {
      font: 800 1em/1.7;
    }
  
    .title__home-dev {
      font-size: 1em;
      /* text-align: center; */
      margin-left: 50px;
      padding: 5px;
      /* border: solid; */
    }
  
    .container__p-home {
      margin-top: 0px;
      max-width: 340px;
      /* border: solid; */
    }
  
    .container__p-home p {
      font-size: 1rem;
      align-self: flex-start;
    }
  
    /* Image profile and background decoration */
    .container__right {
      /* grid-column: 1/3; */
      display: flex;
      justify-content: flex-end;
    }
  
    .container__position-profile {
      /* width: 50%; */
      border: solid white;
    }
  
    .container__image-profile {
      margin-top: 0px;
      width: 180px;
      height: 180px;
    }
  
    .background__home-decoration {
      width: 100%;
      height: 60%;
    }
  
    /* ABOUT ME AND EDUCATION */
  
    .about-me__education {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      height: 60em;
    }
  
    /* Background content decoration */
    .background__header-about {
      height: 30px;
    }
  
    /* Content left */
  
    .container__left-about {
      height: 100%;
      grid-column: 1/3;
    }
  
    /* title and paragraph */
    .content__left-about h1 {
      font-size: 1.3em;
      padding-bottom: 0.7em;
      margin-top: 40px;
      margin-bottom: 0px;
    }
  
    .container__p-about {
      max-width: 100%;
    }
  
    .content__left-about p {
      font-size: 0.9em;
      line-height: 1.4em;
      max-width: 340px;
    }
  
    /* EDUCATION SECTION */
  
    .container__right-education {
      height: 100%;
      grid-column: 1/3;
    }
  
    /* titles and paragraph */
    .content__right-education h1 {
      font-size: 1.5em;
      margin-top: 40px;
    }
  
    .content__right-education h3 {
      font-size: 1.2em;
      margin: 10px 0px 0px 0px;
      text-align: start;
    }
  
    .container__p-education {
      width: 340px;
    }
  
    .container__p-education p {
      font-size: 1em;
      margin-bottom: 2px;
    }
  
    .content__right-education li > h4 {
      font-size: 1em;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  
    .position__right-education {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      max-width: 400px;
    }
  
    .position__right-education p {
      font-size: 0.9em;
    }
  
    /* SKILLS AND OTHER COURSES */
  
    .skills__other-courses {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      height: 75em;
    }
  
    /* Background decoration */
    .background__skills-header {
      height: 30px;
    }
  
    .container__left-skills {
      grid-column: 1/3;
      order: 2;
      height: 100%;
      margin-top: 170px;
    }
  
    /* titles skills */
    .title__skill {
      font-size: 1.2em;
    }
  
    .subtitle__skill {
      font-size: 1em;
      margin-top: 0px;
    }
  
    .title__skills-bar {
      font-size: 1.1em;
    }
  
    .subtitle__skills-bar {
      font-size: 1em;
    }
  
    .container__skills-bar {
      margin-bottom: 2em;
      max-width: 340px;
    }
  
    .skills__header {
      margin-bottom: 1.4rem;
    }
  
    .skills__icon,
    .skills__arrow {
      font-size: 1.6em;
    }
  
    /* Experience percentage */
    .skills__name {
      font-size: 0.8em;
    }
  
    .skills__number {
      font-size: 0.8em;
    }
  
    .skills__bar,
    .skills__percentage {
      height: 8px;
    }
  
    /* OTHER COURSES */
  
    .container__right-courses {
      grid-column: 1/3;
      height: 100%;
    }
  
    .content__right-courses h1 {
      font-size: 1.2em;
      margin-top: 40px;
    }
  
    .container__certificated-courses {
      width: 100%;
      max-width: 340px;
    }
  
    .content__right-courses h4 {
      font-size: 1em;
    }
  
    .position-courses {
      padding-bottom: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    /* Certificate */
    .shakeX {
      max-width: 400px;
    }
    .shakeX a {
      font-size: 0.9em;
    }
  
    /* PROJECTS EXPERIENCE */
    .projects {
      grid-template-columns: 1fr;
      height: 85em;
    }
  
    /* Background decoration */
    .background__header-projects {
      height: 30px;
    }
  
    .content__right-projects {
      margin-top: -50px;
    }
  
    .container__container-left_projects,
    .container__container-right_projects {
      width: 340px;
      align-self: center;
    }
  
    .content__left-projects h1 {
      font-size: 1.2em;
      margin-top: 40px;
    }
  
    .content__left-projects h2 {
      font-size: 1.1em;
      padding-left: 10px;
    }
  
    .subtitle__name-projects {
      font-size: 1.1em;
      margin-bottom: 6px;
    }
  
    .subtitle__date-projects {
      font-size: 1em;
      padding-inline: 0;
    }
  
    .paragraph__projects {
      font-size: 0.9em;
      line-height: 1.4em;
      padding-top: 3px;
      padding-bottom: 15px;
    }
  
    /* FOOTER */
  
    .footer {
      height: 40em;
    }
  
    .title__footer-container {
      grid-column: 1/3;
      height: 60%;
      margin-left: 0;
      padding-bottom: 0px;
      justify-content: flex-start;
    }
  
    /* style animation title */
    .title__name-footer {
      font-size: 1.2em;
      margin-top: 10px;
      margin-bottom: -10px;
    }
  
    .title__footer {
      font: 800 1.7em/1 "Neuto", sans-serif;
      letter-spacing: 0.3em;
    }
  
    .footer__form {
      grid-column: -3 / -1;
      height: 100%;
      margin-top: -100px;
    }
  
    .footer__form h2 {
      font-size: 1.2em;
    }
  
    .style__label {
      font-size: 1.1em;
    }
  
    .footer__input {
      height: 30px;
      width: 300px;
    }
  
    .footer__input-message {
      height: 60px;
      width: 300px;
    }
  
    .footer__button {
      height: 30px;
      width: 300px;
    }
  
    /* Footer copyright */
    .subtitle__footer-name {
      font-size: 1.1rem;
      margin: 0px 0px 25px 60px;
    }
  
    .subtitle__footer-copy {
      font-size: 1.1rem;
      margin: 0px 65px 0px 0px;
    }
  
    .footer__social {
      padding-top: 10px;
      column-gap: 20px;
      row-gap: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .link__names {
      justify-content: space-between;
      gap: 0;
      letter-spacing: 0;
    }
  
    .link__items {
      font-size: 1.1rem;
    }
  
    .link__names-active {
      height: 30px;
      width: 150px;
    }
  
    .footer__icons {
      font-size: 1.3em;
    }
  }