/* VARIABLES CSS */
:root {
  /* COLORS */
  --body-color: linear-gradient(
    to bottom,
    hsla(170, 32%, 26%, 0.836),
    hsla(162, 16%, 64%, 0.829)
  );
  --title-color-all: hsl(185, 55%, 68%);
  --title-hover: rgba(0, 166, 207, 0.795);
  --title-color: hsla(0, 0%, 87%, 0.877);
  --color-icon: hsl(0, 0%, 24%);

  --container-color: #fff;

  /* FONT SIZE */
  --font-tittle: 2.4rem;

  /* FONT WEIGHT */
  --font-medium: 300;
  --font-semi-bold: 400;
  --font-ultra-bold: 700;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #777777c4;
  /* font-family: 'Alata', sans-serif; */
  font-family: "Exo 2", sans-serif;
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  /* font-family: 'Staatliches', sans-serif; */
}

/* Globals */
h1 {
  text-align: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.no-margin {
  margin: 0;
}

/* HEADER */

/* Header animation */
.header__animation--decoration {
  position: absolute;
  width: 100%;
  height: 3.5em;
  top: 0;
  border: none;
  z-index: 2;
}
@media (min-width: 768px) {
  .header__animation--decoration {
    height: 4em;
  }
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5em;
  z-index: 100;
  background-color: hsla(0, 0%, 39%, 0.315);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 3rem;
}
.header__mylogo {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--title-color);
}
@media (min-width: 768px) {
  .header__mylogo {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .header__mylogo {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .header__mylogo {
    font-size: 3rem;
  }
}
.header__mylogo > span:hover {
  color: var(--title-hover);
}
.header__nav--menu {
  display: flex;
  align-items: center;
}
.header__menu--item {
  text-transform: uppercase;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .header__menu--item {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .header__menu--item {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .header__menu--item {
    font-size: 2.5rem;
  }
}
.header__menu--link {
  color: var(--title-color);
  border-radius: 10px;
  padding: 0.5rem;
}
.header__menu--link:hover {
  color: #fff;
}
.header__menu--link:hover {
  background-color: var(--title-hover);
  transition: 1s;
}

/* TOGGLE */
.header__nav--toggle {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8em;
  display: none;
}

/* HOME */
.home__container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background: #0000008f;
}
@media (min-width: 990px) {
  .home__container {
    flex-direction: row;
  }
}
.background__home-decoration {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: none;
}

/* container left */
.home__container--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15em;
  height: 100%;
  max-height: 100%;
  margin-top: 5rem;
}
.home__titles {
  width: 100%;
  margin-bottom: 4rem;
}
.home__welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .home__container--left {
    gap: 0;
  }
}
@media (min-width: 990px) {
  .home__welcome {
    flex-direction: column;
  }
  .home__container--left {
    flex-direction: column;
    width: 50%;
    height: 65em;
    justify-content: space-around;
  }
}
/* style animation titles */
.home__title {
  font-size: 2.8em;
  color: var(--title-color);
  font-weight: var(--font-ultra-bold);
}
.home__subtitle {
  font-size: 2.8em;
  color: var(--title-color);
  font-weight: var(--font-ultra-bold);
}
.home__title--style {
  font-size: 2em;
  color: var(--title-color);
  text-align: center;
}
.home__title--style > span {
  text-transform: uppercase;
  font: 800 1em/1.7 "Neuto", "sanserif";
  text-shadow: 0 0 60px rgba(155, 155, 155, 0.884);
  -webkit-text-fill-color: text;
  color: transparent;
  animation: fadeHome 4s infinite;
  animation-direction: alternate;
}

@keyframes fadeHome {
  0% {
    background: #03c4ffc9;
    background-clip: text;
  }
  40% {
    background: #15b882;
    background-clip: text;
  }
  65% {
    background: #23e674de;
    background-clip: text;
  }
  100% {
    background: #23d8d8e5;
    background-clip: text;
  }
}
.home__title--dev {
  font-size: 1.2em;
  margin: 0 auto;
  color: var(--title-color);
  background-clip: text;
  white-space: nowrap;
  border-right: solid 6px;
  width: 25ch;

  animation: typing 3s steps(24), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-right: transparent;
  }
}
/* responsive queries titles */
@media (min-width: 768px) {
  .home__title {
    font-size: 4em;
  }
  .home__subtitle {
    font-size: 4em;
  }
  .home__title--style {
    font-size: 3em;
    text-align: center;
  }
  .home__title--style > span {
    font: 800 1.2em/1.7 "Neuto", "sanserif";
  }
  .home__title--dev {
    font-size: 2.2em;
  }
}
@media (min-width: 1024px) {
  .home__subtitle {
    font-size: 3.2em;
    margin: 2rem 0;
  }
  .home__title--style {
    font-size: 3.5em;
  }
  .home__title--style > span {
    font: 800 1.4em/1.7 "Neuto", "sanserif";
  }
  .home__title--dev {
    font-size: 3.1em;
  }
}
@media (min-width: 1280px) {
  .home__title {
    font-size: 5em;
  }
  .home__subtitle {
    font-size: 4.2em;
  }
  .home__title--style {
    font-size: 4em;
  }
  .home__title--style > span {
    font: 800 1.7em/1.7 "Neuto", "sanserif";
  }
  .home__title--dev {
    font-size: 4em;
    margin-top: -2rem;
  }
}
.home__paragraph {
  max-width: 32em;
  margin: 4rem auto 0;
}
.home__paragraph p {
  /* font-size: 2em; */
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.4;
}
@media (min-width: 768px) {
  .home__paragraph {
    margin: 0 5em 12em 0;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 32em;
  }

  .home__paragraph p {
    font-size: 1.5em;
  }
}
@media (min-width: 990px) {
  .home__paragraph {
    position: inherit;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .home__paragraph {
    max-width: 45em;
    margin-bottom: 12em;
  }
  .home__paragraph p {
    font-size: 1.8em;
  }
}
@media (min-width: 1280px) {
  .home__paragraph {
    max-width: 55em;
  }
  .home__paragraph p {
    font-size: 2em;
  }
}

/* image profile */
.home__container--right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  max-width: 100%;
  margin-bottom: 5em;
}
.container__image-profile {
  overflow: hidden;
  position: absolute;
  width: 17em;
  height: 17em;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-bottom: #727272 solid 4px;
  border-top: #727272 solid 4px;
  transition: width 1s ease-out, height 1s ease-out;
}
.container__image-profile img {
  position: absolute;
  object-fit: cover;
  border-left: solid #ffffff 4px;
  border-right: solid #ffffff 4px;
  width: 60%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(80%) saturate(80%);
}
@media (min-width: 768px) {
  .container__image-profile {
    width: 30em;
    height: 30em;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
  }
}
@media (min-width: 990px) {
  .home__container--right {
    height: 65em;
    margin-top: 5em;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .container__image-profile {
    width: 45em;
    height: 45em;
  }
}
@media (min-width: 1280px) {
  .container__image-profile {
    width: 50em;
    height: 50em;
  }
}

/* ABOUT / EDUCATION / COURSES */

/* ABOUT */
.about__container--main {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  height: 100%;
}
@media (min-width: 768px) {
  .about__container--main {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1280px) {
  .about__container--main {
    grid-template-columns: 1fr 1fr;
    height: 70em;
  }
}

/* background content / header decoration */
.background__about--content {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
  transform: scaleX(-1);
}
.background__header--about {
  position: absolute;
  width: 100%;
  height: 3.5em;
  z-index: 1;
  top: 0;
  border: none;
}
@media (min-width: 768px) {
  .background__header--about {
    height: 4em;
  }
}

/* about */
.about__container {
  height: 100%;
  width: 100%;
  margin-top: 5em;
}
/* titles and paragraph */
.about__title {
  font-size: 2em;
  margin: 1rem 0;
  color: var(--title-color);
}
.about__paragraph {
  /* font-size: 1.5em; */
  margin: 0 4em;
  max-width: 100%;
}
.about__paragraph p {
  font-size: 1.4em;
  line-height: 1.5;
  font-weight: var(--font-semi-bold);
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.5em;
  }
  .about__paragraph p {
    font-size: 1.6em;
  }
}
@media (min-width: 1024px) {
  .about__title {
    font-size: 3em;
  }
}
@media (min-width: 1280px) {
  .about__container {
    height: calc(65em / 2);
  }
  .about__title {
    font-size: 3.5em;
  }
  .about__paragraph {
    max-width: 55em;
    margin: 0 auto;
  }
  .about__paragraph p {
    font-size: 2em;
  }
}

/* education */
.education__container {
  height: 100%;
  margin: 1em 4em 0;
  grid-column: 1 / 3;
}
@media (min-width: 768px) {
  .education__container {
    grid-column: auto;
    margin: 5em 0 0 0;
  }
}
@media (min-width: 1280px) {
  .education__container {
    height: calc(65em / 2);
    margin: 0 auto;
  }
}
/* titles and paragraph */
.education__title {
  font-size: 2em;
  color: var(--title-color);
}
.education__subtitle {
  font-size: 1.7em;
  margin: 1rem 0;
}
.education__list {
  max-width: 55em;
  margin: 0 auto;
}
.education__subtitle--subject {
  font-size: 1.3em;
}
.education__position {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.education__position > p {
  font-size: 1.3em;
  margin: 0;
}
@media (min-width: 768px) {
  .education__title {
    font-size: 2.5em;
    margin: 1rem 0;
  }
  .education__subtitle {
    font-size: 2.1em;
  }
  .education__subtitle--subject {
    font-size: 1.9em;
    max-width: 19em;
    margin-top: 2.5rem;
  }
  .education__position {
    gap: 1rem;
  }
  .education__position > p {
    font-size: 1.8em;
  }
}
@media (min-width: 1024px) {
  .education__title {
    font-size: 3em;
  }
  .education__subtitle--subject {
    max-width: 30em;
  }
  .education__position {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .education__title {
    font-size: 3.5em;
    margin: 0;
  }
  .education__position {
    justify-content: space-between;
  }
}

/* courses */
.courses__container {
  height: 100%;
  grid-column: 1 / 3;
  margin: 0 4em;
}
@media (min-width: 768px) {
  .courses__container {
    margin: 2rem 0;
  }
}
@media (min-width: 1280px) {
  .courses__container {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: 65em;
    margin: 5em 0 0;
  }
}
.courses__title {
  font-size: 2em;
  color: var(--title-color);
}
.courses__certificated {
  max-width: 60em;
  width: 100%;
  margin: 0 auto;
}
.courses__subtitle {
  font-size: 1.3em;
}
.courses__position {
  display: flex;
  justify-content: space-between;
  color: var(--title-color);
  margin: 1rem 0;
}
.courses__position p {
  font-size: 1.3em;
  margin: 0;
}
@media (min-width: 768px) {
  .courses__title {
    font-size: 2.5em;
  }
  .courses__subtitle {
    font-size: 2em;
  }
  .courses__position p {
    font-size: 1.8em;
  }
}
@media (min-width: 1024px) {
  .courses__title {
    font-size: 3em;
  }
}
@media (min-width: 1280px) {
  .courses__title {
    font-size: 3.5em;
    margin: 1rem 0;
  }
}

/* Certificate */
/* Nota: también me aplica estilos a los certificados de educación */
.shakeX {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2em;
}
.shakeX a {
  font-weight: var(--font-ultra-bold);
  /* font-size: 1.8em; */
  color: var(--title-color);
}
.shakeX i {
  /* font-size: 2.5em; */
  color: var(--color-icon);
}
.shakeX a:hover {
  color: var(--title-hover);
}
@media (min-width: 768px) {
  .shakeX a {
    font-size: 1.6em;
  }
  .shakeX i {
    font-size: 2.2em;
  }
}
@media (min-width: 1024px) {
  .shakeX a {
    font-size: 1.8em;
  }
  .shakeX i {
    font-size: 2.5em;
  }
}

/* SKILLS */

/* background decoration */
.background__skills-content {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
}
.background__skills-header {
  position: absolute;
  width: 100%;
  height: 3.5em;
  z-index: 1;
  top: 0;
  border: none;
}
@media (min-width: 768px) {
  .background__skills-header {
    height: 4em;
  }
}

/* content skills */
.skills__projects--container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  background: #1d101049;
  /* position: relative; */
}
.skills__container {
  width: 100%;
  height: 100%;
  padding: 5em 4em 0;
}
@media (min-width: 768px) {
  .skills__container {
    margin: 5em 0 0;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .skills__projects--container {
  }
  .skills__container {
    /* width: 35%; */
  }
}
@media (min-width: 1280px) {
  .skills__projects--container {
    flex-direction: row;
  }
  .skills__container {
    height: 65em;
    width: 25%;
    margin: 5em 4em 0;
  }
}
.skills__title {
  font-size: 2em;
  margin: 1rem 0;
  color: var(--title-color);
}
.skills__subtitle {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 0;
}
@media (min-width: 768px) {
  .skills__title {
    font-size: 3.5em;
  }
  .skills__subtitle {
    font-size: 2em;
  }
}
.skills__bar--container {
  max-width: 100%;
  max-width: 40em;
  margin: 0 auto;
}
.skills__content--dev {
  max-width: 100%;
}
.skills__header--bar {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.skills__icon,
.skills__arrow {
  font-size: 3.4em;
  color: var(--color-icon);
}
.skills__title--bar {
  font-size: 1.7em;
  color: var(--title-color);
  margin: 1rem 0;
}
.skills__subtitle--bar {
  font-size: 1.3em;
}
.skills__icon {
  margin-right: 1.5rem;
}
.skills__arrow {
  margin-left: 2rem;
  transition: 0.6s;
}
@media (min-width: 768px) {
}
@media (min-width: 1280px) {
  .skills__bar--container {
    max-width: 40em;
  }
  .skills__title--bar {
    font-size: 2.5em;
  }
  .skills__subtitle--bar {
    font-size: 1.5em;
  }
  .skills__icon,
  .skills__arrow {
    font-size: 4.5em;
  }
}

/* Experience percentage */
.skills__list {
  padding-left: 3em;
  width: 100%;
}
.skills__titles--data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 1.5rem 0;
}
.skills__name--data,
.skills__number--data {
  font-size: 1.4em;
  color: var(--title-color);
}
@media (min-width: 768px) {
  .skills__name--data,
  .skills__number--data {
    font-size: 1.5em;
  }
}
.skills__bar--data {
  background-color: #e7e7e773;
  width: 90%;
}
.skills__bar--data,
.skills__percentage--data {
  height: 1.3em;
  border-radius: 0.8rem;
  margin-bottom: 1em;
}
.skills__percentage--data {
  display: block;
  background-color: rgba(34, 80, 76, 0.897);
}
/* bar experience */
.skills__html {
  width: 0;
}
.skills__css {
  width: 0;
}
.skills__js {
  width: 0;
}
.skills__react {
  width: 0;
}
.skills__node {
  width: 0;
}
.skills__mongodb {
  width: 0;
}

/* disguise skills */
.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}
.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}
.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* PROJECTS */

/* background decoration */
.background__header-projects {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 1;
  border: none;
}
.background__content-projects {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
  transform: scaleX(-1);
}
.projects__container {
  height: 100%;
  /* margin: 5em 4em; */
}
@media (min-width: 1024px) {
  .projects__container {
    margin: 2em 4em;
  }
}
@media (min-width: 1280px) {
  .projects__container {
    height: 80em;
    width: 75%;
    margin: 5em 4em;
  }
}
.projects__title {
  margin: 1rem 0;
  font-size: 3em;
  color: var(--title-color);
}
.projects__subtitle {
  font-size: 2.5em;
  margin: 1em 0;
  color: var(--title-color);
}
.projects__subtitle a {
  color: var(--title-hover);
}
.projects__bootcamp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  gap: 1rem;
}
.projects__bootcamp--container {
  width: 30em;
  height: 20em;
  border: solid white;
  position: relative;
  max-width: 100%;
}
.bootcamp__chakra {
  background-image: url(../img/hero-chakra-ui.png);
  background-size: cover;
  background-position: center;
}
.bootcamp__task {
  background-image: url();
}
.bootcamp__calculator {
  background-image: url();
}
.projects__bootcamp--title,
.projects__frontend--title {
  font-size: 2em;
  color: #ffffff;
  background-color: #00000085;
  padding: 0.5rem 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.projects__frontend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  max-width: 100%;
}
.projects__frontend--container {
  border: solid white;
  width: 30em;
  height: 20em;
  position: relative;
}
@media (min-width: 1280px) {
  .projects__bootcamp--container {
    width: 26em;
  }
  .projects__frontend--container {
    width: 26em;
  }
}
@media (min-width: 1440px) {
  .projects__bootcamp--container {
    width: 30em;
  }
  .projects__frontend--container {
    width: 30em;
  }
}
.bootcamp__card {
  background-image: url(../img/blog-preview-card.png);
  background-size: cover;
  background-position: center;
}
.bootcamp__homepage {
  background-image: url(../img/news-homepage.png);
  background-size: cover;
  background-position: center;
}
.bootcamp__qrcode {
  background-image: url(../img/qr-code-component.png);
  background-size: cover;
  background-position: center;
}

/* FOOTER */

/* Backgroun animation footer */
.background__footer-decoration {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: none;
}
.background__footer-header {
  position: absolute;
  width: 100%;
  height: 3.5em;
  z-index: 1;
  top: 0;
  border: none;
}
@media (min-width: 768px) {
  .background__footer-header {
    height: 4em;
  }
}
/* Content footer */
.footer__container {
  height: 100%;
  position: relative;
  background: #0000008f;
}
.footer__content {
  display: grid;
  height: 100%;
  padding: 0 2em;
}
@media (min-width: 1024px) {
  .footer__content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1280px) {
  .footer__content {
    grid-template-columns: 1fr 1fr;
  }
}
.footer__title--container {
  margin: 3.5em 0 0;
}
.footer__title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font: 800 2.4em/1 "Neuto", sans-serif;
  display: block;
  margin-top: 3rem;
  text-shadow: 0 0 60px rgba(255, 255, 255, 0.747);
  -webkit-text-fill-color: text;
  color: transparent;
  animation: fade 3s infinite;
  animation-direction: alternate;
}
@keyframes fade {
  0% {
    background: #1b704dde;
    background-clip: text;
  }
  50% {
    background: #126288;
    background-clip: text;
  }
  100% {
    background: #80888dd2;
    background-clip: text;
  }
}
.footer__subtitle {
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.856), hsl(0, 0%, 0%));
  font-size: 1.8em;
  margin: 1em auto;
  color: var(--title-color);
  background-clip: text;
  white-space: nowrap;
  width: 22ch;
  border-right: solid 6px;

  animation: typing 4s steps(22), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-right: transparent;
  }
}
@media (min-width: 768px) {
  .footer__title--container {
    margin: 4em 0 0;
  }
  .footer__title {
    font: 800 3em/1 "Neuto", sans-serif;
  }
  .footer__subtitle {
    font-size: 2.5em;
  }
}
@media (min-width: 1024px) {
  .footer__title {
    font: 800 3.5em/1 "Neuto", sans-serif;
    margin-top: 5em;
  }
  .footer__subtitle {
    font-size: 3em;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font: 800 5em/1 "Neuto", sans-serif;
    margin-top: 3em;
  }
  .footer__subtitle {
    font-size: 4em;
  }
}
.footer__form--container {
  height: 100%;
  /* margin: 0 2em; */
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.footer__legend {
  font-size: 2em;
  text-align: center;
  color: var(--title-color);
}
fieldset {
  border: none;
}
.footer__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container--inputs {
  display: flex;
  flex-direction: column;
}
.footer__label {
  font-size: 1.8em;
  margin-left: 1em;
  color: var(--title-color);
}
.footer__input {
  height: 2.5em;
  width: 20em;
  padding-left: 2em;
  margin: 1em 0;
  border-radius: 1em;
  font-size: 1.5em;
  background-color: var(--title-color);
  outline: 3px solid var(--title-hover);
  border: none;
}
.footer__container--textarea {
  display: flex;
  flex-direction: column;
}
.footer__textarea--input {
  height: 4em;
  width: 20em;
  padding: 1em 1em;
  margin: 1em 0;
  border-radius: 1em;
  font-size: 1.9em;
  background-color: var(--title-color);
  outline: 3px solid var(--title-hover);
  border: none;
  overflow: auto;
}
.footer__button {
  height: 2.5em;
  width: 100%;
  color: var(--title-color);
  background-color: #173b6494;
  outline: 3px solid #000;
  border: none;
  font-size: 1.5em;
  font-weight: var(--font-ultra-bold);
  border-radius: 0.5em;
  cursor: pointer;
  align-self: flex-end;
  margin: 1rem 0;
}
.footer__button:hover {
  background-color: var(--title-hover);
  transition: 1s;
}
@media (min-width: 768px) {
  .footer__form {
    margin-top: 2em;
  }
  .footer__legend {
    font-size: 3em;
  }
}
@media (min-width: 1024px) {
  .footer__label {
    font-size: 1.8em;
  }
  .footer__input {
    height: 3em;
    font-size: 1.7em;
  }
  .footer__textarea--input {
    font-size: 2.3em;
    padding: 1.5em 1.5em;
  }
  .footer__button {
    font-size: 2em;
  }
}
@media (min-width: 1280px) {
  .footer__form--container {
    margin: 5em 8em 0 4em;
  }
  .footer__label {
    font-size: 2.3em;
  }
  .footer__input {
    height: 2.5em;
    font-size: 1.5em;
  }
  .footer__textarea--input {
    font-size: 2.1em;
    padding: 1.2em 1.2em;
  }
  .footer__button {
    font-size: 1.8em;
  }
}

/* footer social */
.footer__social--container {
  justify-content: space-evenly;
  height: 100%;
}
.footer__social--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.footer__items {
  font-size: 1.2em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer__social--list {
    margin: 1rem 0;
    justify-content: space-evenly;
  }
  .footer__items {
    font-size: 1.8em;
  }
}
@media (min-width: 1024px) {
  .footer__social--container {
    grid-column: 1 / 3;
  }
  .footer__items {
    font-size: 2em;
  }
}
@media (min-width: 1280px) {
  .footer__items {
    font-size: 2.5em;
  }
}
.footer__names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.5rem;
  padding-left: 0.5em;
  border-radius: 0.5em;
  width: 12em;
}
.footer__names:hover {
  background-color: var(--title-hover);
}
.footer__names--active {
  background-color: #173b6494;
  height: 2.5em;
  transition: 1s;
}
.footer__color {
  color: var(--title-color);
  text-decoration: none;
}
.footer__color:hover {
  color: #fff;
}
.footer__icons {
  font-size: 1.5em;
  color: var(--title-color);
  padding-right: 0.5em;
}
.footer__icons:hover {
  color: var(--color-icon);
}
.footer__copyright--container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0;
  gap: 1rem;
}
.footer__title--copyright {
  text-align: center;
  font-size: 1.5em;
  color: var(--title-color);
}
@media (min-width: 768px) {
  .footer__copyright--container {
    flex-direction: row;
  }
  .footer__title--copyright {
    font-size: 2em;
  }
}
