@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  /* font-family: "Libre Baskerville", serif; */
  /* font-family: "Poppins", sans-serif; */
}

body {
  background-color: #777777c4;
}

/* VARIABLES CSS */
:root {

  /*============= COLORS ==============*/
  /* Change favorite color */
  /* Purple 250 - Green 142 - Blue 230 - Pink 340 */

  --hue-color: 230;
  /* HSL color mode 230 */
  
  --title-color: hsla(var(--hue-color), 45%, 16%, 0.898);
  --subtitle-color: hsla(var(--hue-color), 0%, 94%, 0.824);
  /* --subtitle-color: hsla(var(--hue-color), 0%, 100%); */
  --title-hover: hsl(var(--hue-color), 32%, 52%);
  --color-icon: hsl(var(--hue-color), 65%, 23%);

  --container-color: #fff;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-ultra-bold: 800;
}

/* HOME */

.header {
  position: fixed;
  width: 100%;
  height: 45px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: hsla(10, 0%, 40%, 0.200);
}

/* Header decoration */
.background__header-decoration {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  border: none;
  z-index: 2;
}

.image-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.mylogo {
  position: relative;
  font-size: 2.2rem;
  text-decoration: none;
  /* font-weight: 800; */
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  margin-left: 15px;
  color: var(--subtitle-color);
}

.mylogo > span:hover {
  color: var(--title-hover);
}

.navbar a {
  position: relative;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  margin-left: 15px;
  color: var(--subtitle-color);
}

/* El hover cambia de color las etiquetas "a" */
.navbar a:hover {
  color: var(--title-hover);
}

/* Home */

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

/* content home */

.content {
  margin-left: 50px;
}

.welcome__title {
  font-size: 2.7rem;
  font-weight: var(--font-ultra-bold);
  margin-bottom: -15px;
  color: var(--title-color);
}

.welcome__subtitle {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 40px;
  padding-left: 150px;
  color: var(--title-color);
}

.content h3{
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 40px;
  margin-left: -100px;
}

.content h1 {
  font-size: 3rem;
  color: var(--title-color);
}

.content > h1 > span {
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.856), hsl(0, 0%, 0%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-shadow: -5px 7px 4px hsla(0, 0%, 80%, 0.767);
}

/* style animation title */
.content > h3 > span {
  text-shadow: -5px 7px 4px hsla(0, 0%, 80%, 0.767);
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.856), hsl(0, 0%, 0%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  white-space: nowrap;
  border-right: 4px solid;
  padding-left: 108px;
  width: 27ch;

  animation: typing 4s steps(27), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-right:  transparent; }
}

.content p {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 550px;
  height: 150px;
  font-size: 1.6rem;
}

/* Image and background decoration */

/* Nota: z-index es para que la imagen se ponga encima o del texto */
.image-container {
  position: absolute;
  top: 18%;
  left: 56%;
  right: 150px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.background__home-decoration {
  position: absolute;
  left: 50%;
  width: 673px;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  border: none;
}

html {
  scroll-behavior: smooth;
}

/* ABOUT-ME AND EDUCATION SECTION*/

.about-me__education {
  position: relative;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Background decoration */

.background__about-me-top {
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 1;
  top: 0;
  border: none;
}

.background__about-me-bottom {
  position: absolute;
  background: #357c6e8e;
  width: 100%;
  height: 70px;
  z-index: 1;
  bottom: 0;
}

/* ABOUT ME SECTION */

.content__about-me p {
  font-size: 1.1em;
  padding-bottom: 10px;
  font-weight: var(--font-semi-bold);
}

/* title and paragraph */
.content__about-me {
  width: 50%;
  padding: 30px;
}

.content__about-me h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 30px;
  font-weight: var(--font-ultra-bold);
  color: var(--title-color);
}

/* EDUCATION SECTION */

.content__education {
  position: absolute;
  right: 0;
  width: 50%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.content__education h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 15px;
  font-weight: var(--font-ultra-bold);
  color: var(--title-color);
}

.content__education h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.content__education p {
  font-weight: var(--font-ultra-bold);
  font-size: 1rem;
}

.position-education {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 2px;
}

.content__education ul a {
  text-decoration: none;
}

.content__education li {
  padding-bottom: 20px;
  list-style: none;
}


.content__education li {
  font-size: 1.3rem;
  font-weight: 600;
}

/* SKILLS AND OTHER COURSES */

.skills__other-courses {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  justify-content: space-between;
  position: relative;
}

/* Background decoration */

.background__skills-content {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
}

/* SKILLS SECTION*/

.content__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: absolute;
  padding-left: 80px;
  left: 0;
  margin-top: -30px;
}

.title__skill {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 50px;
  color: var(--title-color);
}

.container__skills {
  row-gap: 0;
  width: 450px;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* ICON */
.skills__icon,
.skills__arrow {
  font-size: 2.7em;
  color: var(--color-icon);
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__arrow {
  margin-left: auto;
  transition: 0.6s;
}

/* TITLES */
.title__skills {
  font-size: 1.4rem;
  color: var(--title-color);
}

.subtitle__skills {
  font-size: 1.1rem;
  justify-content: start;
  color: var(--subtitle-color);

}

/* EXPERIENCE PERCENTAGE */
.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.8rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--subtitle-color);
}

.skills__bar,
.skills__percentage {
  height: 10px;
  border-radius: 0.25rem;
}

.skills__bar {
  /* background-color: var(--first-color-lighter); */
  background-color: #e7e7e773;
}

.skills__percentage {
  display: block;
  background-color: rgba(34, 80, 76, 0.897);
}

/* BAR EXPERIENCE */
.skills__html {
  width: 0;
}
.skills__css {
  width: 0;
}
.skills__js {
  width: 0;
}
.skills__react {
  width: 0;
}
.skills__node {
  width: 0;
}
.skills__mongodb {
  width: 0;
}

/* DISGUISE SKILLS */
.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* OTHER COURSES SECTION */

.content__other-courses {
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

.container__other-courses h1 {
  font-size: 2.3rem;
  padding-bottom: 5px;
  text-align: center;
  color: var(--title-color);
}

.container__other-courses li {
  list-style: none;
  padding-bottom: 7px;
}

.container__other-courses li > p {
  font-weight: var(--font-semi-bold);
  font-size: 1.2rem;
}

.position-courses {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  padding: 2px;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

/* Certificate */

.shakeX a {
  font-weight: var(--font-ultra-bold);
  font-size: 1rem;
  text-decoration: none;
  color: var(--subtitle-color);
  padding-inline: 6px;
}

.shakeX i {
  font-size: 1.3rem;
  color: var(--color-icon)
}

.shakeX a:hover {
  color: var(--title-hover)
}

/* PROJECTS EXPERIENCE */

.projects__experience {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Background decoration */
.image-projects-top {
  position: absolute;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.background__projects-bottom {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border: none;
}

.content__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  margin-bottom: 50px;
  padding-left: 20px;
}

.container__projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
}

.subtitle__projects {
  font-size: 1.3rem;
  color: var(--nav-color);
}

.subtitle__projects-date {
  font-size: 1em;
  color: var(--title-color);
  padding-inline: 20px;
}

.paragraph__projects {
  font-size: 1em;
  font-weight: var(--font-semi-bold);
  padding-bottom: 15px;
}

.container__projects h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 15px;
  color: var(--title-color);
}

.container__projects > h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.style__projects-list {
  list-style: none;
}

.position__projects-date {
  display: flex;
  justify-content: space-between;
}

.content__projects-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  padding-right: 30px;
}

.container__projects-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
  margin-bottom: 100px;
}

/* FOOTER */

/* Backgroun animation footer */

.background__footer-decoration {
  position: absolute;
  height: 600px;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
}

/* Content footer */

.footer {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content__footer {
  height: 85%;
  border-bottom: 2px solid white;
  position: relative;
}

.container__nav-form {
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.title__footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: solid blue;
  padding-bottom: 150px;
}

.title__name-footer {
  color: var(--subtitle-color);
  font-size: 3em;
}

.title__footer {
  text-align: center;
  /* font-size: 2.5em; */
}

/* style animation title */
.title__footer-container p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font: 400 1em/1.5 "Neuton";
  color: #ffffff40;
  display: inline-block;
  border: 4px double #ffffff40;
  padding: 1.5em 0em;
}

.title__footer-container > p > span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325;
  display: block;
  margin: 0;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: linear-gradient(to right, hsl(226, 82%, 48%), #17db9a);
  background-clip: text;
  -webkit-text-fill-color: text;
  color: transparent;
  animation: textBackgroundAnimation 5s linear infinite;
}

@keyframes textBackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* @keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-right:  transparent; }
} */

.nav__link-footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  list-style: none;
  margin-top: 20px;
}

.nav__link-footer a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 1.3em;
  font-weight: 610;
  color: var(--subtitle-color);
}

.nav__link-footer a:hover {
  color: var(--title-hover);
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  grid-area: 1 / 2;
  margin-top: 100px;
}

.footer__form h2 {
  font-size: 2em;
  text-align: center;
  color: #fff;
}

.footer__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__inputs {
  display: flex;
  flex-direction: column;
}

.style__label {
  font-size: 1.4em;
  padding-left: 12px;
  font-weight: var(--font-semi-bold);
  color: var(--subtitle-color);
}

.footer__input {
  height: 30px;
  width: 400px;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
  outline: 3px solid #000;
  border: none;
}

.container__textarea {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.footer__input-message {
  height: 80px;
  width: 400px;
  padding: 15px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
  outline: 3px solid #000;
  border: none;
  overflow: auto;
}

.footer__button {
  height: 35px;
  width: 200px;
  margin-top: 10px;
  background-color: cadetblue;
  outline: 3px solid #000;
  border: none;
  font-size: 1rem;
  font-weight: var(--font-ultra-bold);
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
}

.footer__button:hover {
  background-color: var(--title-hover);
}

.container__background-footer {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 15%;
}

.footer__copy-container {
  margin-top: 45px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle__footer {
  font-size: 1.5rem;
  padding-inline: 45px;
}

.footer__social {
  margin-top: -20px;
  display: flex;
}

.footer__icons {
  font-size: 2.4em;
  text-decoration: none;
  padding-inline: 10px;
  color: var(--color-icon);
}

.footer__icons i:hover {
  color: var(--title-hover);
}

/* RESPONSIVE QUERIES */

@media screen and (max-width: 1140px) {
  .mylogo {
    font-size: 2rem;
  }

  .navbar a {
    font-size: 1.3rem;
  }

  .content h3 {
    font-size: 26px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .content p {
    width: 400px;
    height: 150px;
    font-size: 18px;
    margin-top: -20px;
  }

  .image-container {
    right: 130px;
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 950px) {
  .mylogo {
    font-size: 1.8rem;
  }

  .navbar a {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .content h3 {
    font-size: 22px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .content p {
    width: 350px;
    height: 150px;
    font-size: 16px;
    margin-top: -25px;
  }

  .image-container {
    top: 30%;
    right: 110px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .mylogo {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .navbar a {
    font-size: 1rem;
    margin-left: 15px;
  }

  .content h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .content p {
    width: 300px;
    height: 150px;
    font-size: 14px;
    margin-top: -30px;
  }

  .image-container {
    top: 32%;
    right: 100px;
    width: 250px;
    height: 250px;
  }
}
