@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  background-color: #777777c4;
}

/* VARIABLES CSS */
:root {
  /* COLORS */

  --body-color: linear-gradient(
    to bottom,
    hsla(170, 32%, 26%, 0.836),
    hsla(162, 16%, 64%, 0.829)
  );
  --title-color-all: hsl(185, 55%, 68%);
  --title-hover: rgba(0, 166, 207, 0.795);
  --title-color: hsla(0, 0%, 87%, 0.877);
  --color-icon: hsl(0, 0%, 24%);

  --container-color: #fff;

  /* FONT SIZE */
  --font-tittle: 2.4rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-ultra-bold: 800;
}

/* NAVBAR HEADER */

.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px 20px;
  z-index: 100;
  background-color: hsla(0, 0%, 39%, 0.315);
}

/* Header decoration */
.background__header-decoration {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  border: none;
  z-index: 2;
}

.mylogo {
  position: relative;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  margin-left: 15px;
  color: var(--title-color);
}

.mylogo > span:hover {
  color: var(--title-hover);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav__link {
  color: var(--title-color);
  text-decoration: none;
}

.nav__link:hover {
  color: #fff;
}

.nav__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__menu-item {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-right: solid rgba(43, 158, 252, 0.726);
  padding-left: 3px;
  padding-right: 3px;
}

.nav__menu-link {
  padding: 6px;
  border-radius: 10px;
}

.nav__menu-link:hover,
.nav__menu-link_active {
  background-color: var(--title-hover);
  transition: 0.5s;
}

/* TOGGLE */
.nav__toggle {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8em;
  display: none;
}

/* HOME */

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100vh;
  background: var(--body-color);
}

/* container left */
.container__left {
  width: 100%;
}

.content__left-home {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 80px 30px 0px 30px;
}

/* style animation title left */
.welcome__title {
  font-size: 2.5rem;
  color: var(--title-color);
  font-weight: var(--font-ultra-bold);
  padding-left: 100px;
}

.welcome__subtitle {
  font-size: 2.5rem;
  color: var(--title-color);
  font-weight: var(--font-ultra-bold);
  margin-bottom: 30px;
  padding-left: 200px;
}

.title__home-name {
  font-size: 3em;
  color: var(--title-color);
  margin-left: 30px;
}

.title__home-name > span {
  text-align: center;
  text-transform: uppercase;
  font: 800 1.3em/1.7 "Neuto", "sanserif";
  text-shadow: 0 0 60px rgba(155, 155, 155, 0.884);
  -webkit-text-fill-color: text;
  color: transparent;
  animation: fadeHome 4s infinite;
  animation-direction: alternate;
}

@keyframes fadeHome {
  0% {
    background: #03c4ffc9;
    background-clip: text;
  }
  40% {
    background: #15b882;
    background-clip: text;
  }
  65% {
    background: #23e674de;
    background-clip: text;
  }
  100% {
    background: #23d8d8e5;
    background-clip: text;
  }
}

.title__home-dev {
  font-size: 2.2em;
  margin-left: 40px;
  color: var(--title-color);
  background-clip: text;
  white-space: nowrap;
  border-right: solid 6px;
  width: 24ch;

  animation: typing 3s steps(24), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-right: transparent;
  }
}

.container__p-home {
  margin-top: 50px;
  max-width: 550px;
  align-self: center;
}

.container__p-home p {
  font-size: 1.2rem;
  line-height: 1.6em;
  font-weight: var(--font-semi-bold);
}

/* Image profile and background decoration */
.container__right {
  width: 100%;
}

/* Nota: z-index es para que la imagen se ponga encima o del texto */
.container__position-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container__image-profile {
  position: absolute;
  overflow: hidden;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  z-index: 2;
  border-bottom: #727272 solid 4px;
  border-top: #727272 solid 4px;
}

.container__image-profile img {
  position: relative;
  object-fit: cover;
  border-left: solid #ffffff 4px;
  border-right: solid #ffffff 4px;
  width: 50%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background__home-decoration {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: none;
}

html {
  scroll-behavior: smooth;
}
/* HOME END */

/* ABOUT-ME AND EDUCATION SECTION*/

.about-me__education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100vh;
  align-items: center;
}

/* ABOUT ME SECTION */

/* Background content decoration */
.background__about-content {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
  transform: scaleX(-1);
}

.background__header-about {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  top: 0;
  border: none;
}

/* Content lef */

.container__left-about {
  width: 100%;
  height: 100%;
}

.content__left-about {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* title and paragraph */
.content__left-about h1 {
  font-size: var(--font-tittle);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: var(--font-ultra-bold);
  color: var(--title-color);
}

.container__p-about {
  max-width: 550px;
  align-self: center;
}

.content__left-about p {
  font-size: 1em;
  line-height: 1.7em;
  font-weight: var(--font-semi-bold);
  margin-bottom: 12px;
}

/* EDUCATION SECTION */

.container__right-education {
  height: 100%;
  width: 100%;
}

.content__right-education {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* titles and paragraph */
.content__right-education h1 {
  margin-top: 60px;
  font-size: var(--font-tittle);
  text-align: center;
  font-weight: var(--font-ultra-bold);
  color: var(--title-color);
}

.content__right-education h3 {
  font-size: 1.5rem;
  text-align: end;
  margin: 40px 0px 40px 0px;
}

.container__p-education {
  max-width: 550px;
  align-self: center;
}

.list__education {
  list-style: none;
}

.content__right-education li > h4 {
  font-size: 1.2rem;
  margin-top: 40px;
}

.position__right-education {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.position__right-education p {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-size: 1rem;
}
/* ABOUT ME AND EDUCATION END */

/* SKILLS AND OTHER COURSES */

/* SKILLS */

.skills__other-courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100vh;
}

/* Background decoration */
.background__skills-content {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
}

.background__skills-header {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  top: 0;
  border: none;
}

/* SKILLS SECTION*/

/* content skills */
.container__left-skills {
  width: 100%;
  height: 100vh;
}

.content__left-skills {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* titles skills */
.title__skill {
  text-align: center;
  margin-top: 70px;
  font-size: var(--font-tittle);
  color: var(--title-color);
}

.subtitle__skill {
  font-size: 1.4rem;
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.title__skills-bar {
  font-size: 1.5rem;
  color: var(--title-color);
}

.subtitle__skills-bar {
  font-size: 1.1rem;
}

/* Container skills bar */
.container__skills-bar {
  max-width: 450px;
  align-self: center;
}

.skills__header {
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* Icons */
.skills__icon,
.skills__arrow {
  font-size: 2.7em;
  color: var(--color-icon);
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__arrow {
  margin-left: auto;
  transition: 0.6s;
}

/* Experience percentage */
.skills__list {
  padding-left: 20px;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skills__name {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.skills__number {
  color: var(--title-color);
}

.skills__bar,
.skills__percentage {
  height: 12px;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

.skills__bar {
  background-color: #e7e7e773;
}

.skills__percentage {
  display: block;
  background-color: rgba(34, 80, 76, 0.897);
}

/* Bar experience */
.skills__html {
  width: 0;
}
.skills__css {
  width: 0;
}
.skills__js {
  width: 0;
}
.skills__react {
  width: 0;
}
.skills__node {
  width: 0;
}
.skills__mongodb {
  width: 0;
}

/* Disguise skills */
.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* OTHER COURSES */

/* content */
.container__right-courses {
  width: 100%;
  height: 100%;
}

.content__right-courses {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content__right-courses h1 {
  text-align: center;
  color: var(--title-color);
  font-size: var(--font-tittle);
  margin-top: 70px;
}

.container__certificated-courses {
  max-width: 650px;
  align-self: center;
  margin-top: 20px;
}

.content__right-courses h4 {
  font-size: 1.2rem;
  border-top: solid #0b416d 4px;
}

.content__right-courses li {
  list-style: none;
}

.position-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding-bottom: 15px;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

/* Certificate */
/* Nota: también me aplica estilos a los certificados de educación */
.shakeX {
  display: flex;
  align-items: center;
}

.shakeX a {
  font-weight: var(--font-ultra-bold);
  font-size: 1rem;
  text-decoration: none;
  color: var(--title-color);
  padding-inline: 6px;
}

.shakeX i {
  font-size: 1.3rem;
  color: var(--color-icon);
}

.shakeX a:hover {
  color: var(--title-hover);
}

/* PROJECTS EXPERIENCE */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100vh;
}

/* Background decoration */
.background__content-projects {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
  transform: scaleX(-1);
}

.background__header-projects {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 1;
  border: none;
}

/* Content left */
.container__left-projects {
  height: 100%;
  width: 100%;
}

.content__left-projects {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Content right */
.container__right-projects {
  width: 100%;
  height: 100%;
}

.content__right-projects {
  display: flex;
  flex-direction: column;
  margin-top: 190px;
  height: 100%;
}

.container__container-left_projects,
.container__container-right_projects {
  max-width: 580px;
  align-self: center;
}

/* Titles and paragraph */
.position__projects-date {
  display: flex;
  justify-content: space-between;
}

.content__left-projects h1 {
  font-size: var(--font-tittle);
  margin-top: 70px;
  color: var(--title-color);
  text-align: center;
}

.content__left-projects h2 {
  font-size: 1.6rem;
  margin: 20px 0px 20px 0px;
}

.content__left-projects li,
.content__right-projects li {
  list-style: none;
}

.subtitle__name-projects {
  font-size: 1.4rem;
  color: var(--title-color);
  border-top: solid #0b416d 4px;
}

.subtitle__date-projects {
  font-size: 1.1em;
  color: var(--color-icon);
  padding-inline: 20px;
  padding-bottom: 10px;
}

.paragraph__projects {
  font-size: 1em;
  font-weight: var(--font-ultra-bold);
  padding-bottom: 15px;
}

/* FOOTER */

.footer {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Backgroun animation footer */
.background__footer-decoration {
  position: absolute;
  height: 600px;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
}

/* Content footer */

.content__footer {
  height: 80%;
  border-bottom: 4px solid #1c85db;
  position: relative;
}

.container__nav-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100%;
  border: solid blue;
}

.title__footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 40px;
  margin-left: 100px;
  border: solid white;
}

/* style animation title */

.title__name-footer {
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.856), hsl(0, 0%, 0%));
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--title-color);
  background-clip: text;
  white-space: nowrap;
  width: 16.5ch;
  border-right: solid 6px;

  animation: typing 4s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-right: transparent;
  }
}

.title__footer {
  text-align: center;
  text-transform: uppercase;
  font: 800 3.5em/1 "Neuto", sans-serif;
  letter-spacing: 0.3em;
  padding: 15px;
  display: block;
  /* margin: 0; */
  text-shadow: 0 0 60px rgba(255, 255, 255, 0.747);
  -webkit-text-fill-color: text;
  color: transparent;
  animation: fade 3s infinite;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    background: #1b704dde;
    background-clip: text;
  }
  50% {
    background: #126288;
    background-clip: text;
  }
  100% {
    background: #80888dd2;
    background-clip: text;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* grid-area: 1 / 2; */
  margin-top: 100px;
  border: solid red;
}

.footer__form h2 {
  font-size: 2em;
  text-align: center;
  color: var(--title-color);
}

.footer__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__inputs {
  display: flex;
  flex-direction: column;
}

.style__label {
  font-size: 1.4em;
  padding-left: 15px;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.footer__input {
  height: 35px;
  width: 400px;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: var(--title-color);
  outline: 3px solid var(--title-hover);
  border: none;
}

.container__textarea {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.footer__input-message {
  height: 80px;
  width: 400px;
  padding: 15px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: var(--title-color);
  outline: 3px solid var(--title-hover);
  border: none;
  overflow: auto;
}

.footer__button {
  height: 35px;
  width: 200px;
  margin-top: 10px;
  color: var(--title-color);
  background-color: #173b6494;
  outline: 3px solid #000;
  border: none;
  font-size: 1rem;
  font-weight: var(--font-ultra-bold);
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
}

.footer__button:hover {
  background-color: var(--title-hover);
  transition: 0.5s;
}

/* Footer copyright */
.container__background-footer {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 20%;
  background: var(--body-color);
}

.footer__copy-container {
  height: 100%;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.subtitle__footer-name {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #222222;
  margin: 0px 0px 20px 200px;
}

.subtitle__footer-copy {
  font-size: 1.5rem;
  color: #222222;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 200px 20px 0px;
}

.footer__social {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
  list-style: none;
}

.link__items {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.link__names {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  gap: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.link__names:hover {
  background-color: var(--title-hover);
}

.link__names-active {
  background-color: #173b6494;
  height: 50px;
  transition: 0.5s;
}

.link__color {
  color: var(--title-color);
  text-decoration: none;
}

.link__color:hover {
  color: #fff;
}

.footer__icons {
  font-size: 1.5em;
  color: var(--title-color);
  padding-right: 10px;
}

.footer__icons:hover {
  color: var(--color-icon);
}

/* RESPONSIVE QUERIES */

@media only screen and (min-device-width: 1153px) and (max-device-width: 1280px) {
  /* NAVBAR HEADER */

  .mylogo {
    font-size: 1.6rem;
  }

  .nav__menu-item {
    font-size: 1.1rem;
  }

  /* HOME */

  /* style animation title left */
  .welcome__title {
    font-size: 2.4rem;
    padding-left: 80px;
  }

  .welcome__subtitle {
    font-size: 2.4rem;
    padding-left: 180px;
  }

  .title__home-name {
    font-size: 2.6em;
    margin-left: 40px;
  }

  .title__home-name > span {
    font: 800 1em/1.7;
  }

  .title__home-dev {
    font-size: 1.9em;
    margin-left: 50px;
  }

  .container__p-home {
    max-width: 500px;
    margin-top: 30px;
  }

  .container__p-home p {
    font-size: 1.1rem;
  }

  /* Image profile and background decoration */
  .container__image-profile {
    max-width: 400px;
    max-height: 400px;
  }

  /* ABOUT ME AND EDUCATION */

  /* title and paragraph */
  .content__left-about h1 {
    font-size: 2.3rem;
    margin-bottom: 30px;
  }

  .container__p-about {
    max-width: 500px;
  }

  /* EDUCATION SECTION */

  /* titles and paragraph */
  .content__right-education h1 {
    font-size: 2.3rem;
  }

  .content__right-education h3 {
    font-size: 1.3rem;
    margin-bottom: 30px;
  }

  /* SKILLS AND OTHER COURSES */

  .skills__other-courses {
    height: 110vh;
  }

  /* titles skills */
  .title__skill {
    font-size: 2.3rem;
  }

  .subtitle__skill {
    font-size: 1.2rem;
  }

  .title__skills-bar {
    font-size: 1.3rem;
  }

  .container__skills-bar {
    width: 380px;
  }

  .skills__header {
    margin-bottom: 1.8rem;
  }

  /* Icons */
  .skills__icon,
  .skills__arrow {
    font-size: 2.5em;
  }

  /* OTHER COURSES */

  .content__right-courses h1 {
    font-size: 2.3rem;
  }

  .container__certificated-courses {
    max-width: 580px;
  }

  .content__right-courses h4 {
    font-size: 1.1rem;
  }

  /* PROJECTS EXPERIENCE */
  .projects {
    height: 110vh;
  }

  .container__container-left_projects,
  .container__container-right_projects {
    max-width: 540px;
  }

  /* Titles and paragraph */
  .content__left-projects h1 {
    font-size: 2.3rem;
  }

  .content__left-projects h2 {
    font-size: 1.5rem;
  }

  .subtitle__name-projects {
    font-size: 1.3rem;
  }

  .subtitle__date-projects {
    font-size: 1em;
  }

  /* FOOTER */
  .title__footer {
    font: 800 3.3em/1 "Neuto", sans-serif;
  }

  .footer__form h2 {
    font-size: 1.9em;
  }

  .footer__input {
    height: 30px;
    width: 380px;
  }

  .footer__input-message {
    height: 70px;
    width: 380px;
    margin-top: 8px;
  }

  .subtitle__footer-name {
    font-size: 1.4rem;
  }

  .subtitle__footer-copy {
    font-size: 1.4rem;
  }

  .link__items {
    font-size: 1.4rem;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1152px) {
  /* NAVBAR HEADER */
  .header {
    height: 45px;
  }

  .background__header-decoration {
    height: 45px;
  }

  .mylogo {
    font-size: 1.4rem;
  }

  .nav__menu-item {
    font-size: 0.9rem;
  }

  /* HOME */

  .welcome__title {
    font-size: 2.2rem;
    padding-left: 50px;
  }

  .welcome__subtitle {
    font-size: 2.2rem;
    padding-left: 150px;
  }

  .title__home-name {
    font-size: 2.2em;
    margin-left: 50px;
  }

  .title__home-name > span {
    font: 800 0.9em/1.7;
  }

  .title__home-dev {
    font-size: 1.5em;
    margin-left: 65px;
  }

  .container__p-home {
    max-width: 380px;
    margin-top: 20px;
  }

  /* Image profile and background decoration */
  .container__image-profile {
    max-width: 370px;
    max-height: 370px;
  }

  /* ABOUT ME AND EDUCATION */

  /* Background content decoration */
  .background__header-about {
    height: 45px;
  }

  .content__left-about h1 {
    font-size: 2.1rem;
    margin-bottom: 25px;
  }

  .container__p-about {
    max-width: 450px;
  }

  /* EDUCATION SECTION */

  /* titles and paragraph */
  .content__right-education h1 {
    font-size: 2.1rem;
  }

  .content__right-education h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .container__p-education {
    max-width: 450px;
    align-self: center;
  }

  /* SKILLS AND OTHER COURSES */

  /* Background decoration */
  .background__skills-header {
    height: 45px;
  }

  .skills__other-courses {
    height: 120vh;
  }

  /* titles skills */
  .title__skill {
    font-size: 2.1rem;
  }

  .subtitle__skill {
    font-size: 1.1rem;
  }

  .title__skills-bar {
    font-size: 1.2rem;
  }

  .container__skills-bar {
    width: 350px;
  }

  /* Icons */
  .skills__icon,
  .skills__arrow {
    font-size: 2.3em;
  }

  /* OTHER COURSES */

  .content__right-courses h1 {
    font-size: 2.1rem;
  }

  .container__certificated-courses {
    max-width: 470px;
    margin-right: 30px;
  }

  /* PROJECTS EXPERIENCE */
  .projects {
    height: 120vh;
  }

  /* Background decoration */
  .background__header-projects {
    height: 45px;
  }

  .content__right-projects {
    margin-top: 180px;
  }

  .container__container-left_projects,
  .container__container-right_projects {
    max-width: 470px;
  }

  /* Titles and paragraph */
  .content__left-projects h1 {
    font-size: 2.1rem;
  }

  .content__left-projects h2 {
    font-size: 1.3rem;
  }

  .subtitle__name-projects {
    font-size: 1.2rem;
  }

  /* FOOTER */

  .title__name-footer {
    font-size: 2.5em;
  }

  .title__footer {
    font: 800 2.7em/1 "Neuto", sans-serif;
  }

  .footer__form h2 {
    font-size: 1.7em;
  }

  .style__label {
    font-size: 1.2em;
  }

  .footer__input {
    height: 30px;
    width: 330px;
    font-size: 0.9rem;
  }

  .footer__input-message {
    height: 60px;
    width: 330px;
    margin-top: 8px;
    font-size: 0.9rem;
  }

  .footer__button {
    height: 30px;
    width: 150px;
  }

  .subtitle__footer-name {
    font-size: 1.2rem;
  }

  .subtitle__footer-copy {
    font-size: 1.2rem;
  }

  .link__items {
    font-size: 1.1rem;
  }
}

@media only screen and (min-device-width: 855px) and (max-device-width: 1024px) {
  /* NAVBAR HEADER */
  .header {
    height: 40px;
  }

  /* Header decoration */
  .background__header-decoration {
    height: 40px;
  }

  .mylogo {
    font-size: 1.2rem;
    margin-left: 0px;
  }

  .nav__menu-item {
    font-size: 0.7rem;
  }

  /* HOME */

  .home {
    height: 90vh;
  }

  .content__left-home {
    padding-top: 60px;
  }

  .content__left-home {
    padding-top: 3.5em;
  }

  /* style animation title left */
  .welcome__title {
    font-size: 1.7rem;
    padding-left: 30px;
  }

  .welcome__subtitle {
    font-size: 1.7rem;
    padding-left: 100px;
    margin-bottom: 0.4em;
  }

  .title__home-name {
    font-size: 1.8em;
    margin-left: 20px;
  }

  .title__home-name {
    font: 800 0.6em/1.4;
  }

  .title__home-dev {
    font-size: 1.3em;
    margin-left: 30px;
  }

  .container__p-home {
    max-width: 360px;
    margin-top: 17px;
  }

  /* ABOUT ME AND EDUCATION */
  .about-me__education {
    height: 120vh;
  }

  /* Image profile and background decoration */
  .container__image-profile {
    max-width: 330px;
    max-height: 330px;
  }

  /* Background content decoration */
  .background__header-about {
    height: 40px;
  }

  .content__left-about h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .container__p-about {
    max-width: 380px;
  }

  /* EDUCATION SECTION */

  /* titles and paragraph */
  .content__right-education h1 {
    font-size: 1.8rem;
  }

  .content__right-education h3 {
    font-size: 1.1rem;
    margin-top: 15px;
  }

  .content__right-education li > h4 {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  .container__p-education {
    max-width: 380px;
  }

  .position__right-education {
    flex-direction: column;
  }

  .position__right-education p {
    margin-bottom: 5px;
  }

  /* SKILLS AND OTHER COURSES */

  .background__skills-header {
    height: 40px;
  }

  .skills__other-courses {
    height: 120vh;
  }

  /* titles skills */
  .title__skill {
    font-size: 1.8rem;
  }

  .title__skills-bar {
    font-size: 1.1rem;
  }

  .subtitle__skills-bar {
    font-size: 1rem;
  }

  .container__skills-bar {
    width: 330px;
  }

  /* Icons */
  .skills__icon,
  .skills__arrow {
    font-size: 2em;
  }

  /* OTHER COURSES */
  .content__right-courses h1 {
    font-size: 1.8rem;
  }

  .content__right-courses h4 {
    font-size: 1.1rem;
  }

  .container__certificated-courses {
    max-width: 440px;
    margin-right: 30px;
  }

  /* PROJECTS EXPERIENCE */

  .projects {
    height: 130vh;
  }

  .background__header-projects {
    height: 40px;
  }

  .content__right-projects {
    margin-top: 150px;
  }

  .container__container-left_projects,
  .container__container-right_projects {
    max-width: 380px;
  }

  /* Titles and paragraph */
  .content__left-projects h1 {
    font-size: 1.8rem;
    margin-top: 50px;
  }

  .content__left-projects h2 {
    font-size: 1.1rem;
  }

  .subtitle__name-projects {
    font-size: 1.1rem;
  }

  .subtitle__date-projects {
    font-size: 1em;
    margin-top: 3px;
  }

  /* FOOTER */

  .title__footer-container {
    margin-left: 20px;
  }

  .title__name-footer {
    font-size: 1.7em;
    margin-left: -15px;
    margin-top: 80px;
  }

  .title__footer {
    font: 800 2em/1 "Neuto", sans-serif;
    line-height: 40px;
  }

  .footer__form h2 {
    font-size: 1.5em;
  }

  .style__label {
    font-size: 1.1em;
  }

  .footer__input {
    width: 280px;
    font-size: 0.9rem;
  }

  .footer__input-message {
    width: 280px;
    margin-top: 5px;
    font-size: 0.9rem;
  }

  .footer__button {
    width: 120px;
  }

  .subtitle__footer-name {
    font-size: 1.1rem;
    margin: 0px 0px 20px 130px;
  }

  .subtitle__footer-copy {
    font-size: 1.1rem;
    margin: 0px 130px 20px 0px;
  }

  .link__items {
    font-size: 0.8rem;
  }

  .link__names-active {
    height: 40px;
  }
}

@media only screen and (max-device-width: 767px) {
  /* NAVBAR HEADER */

  .header {
    height: 40px;
    width: 100%;
  }

  /* Header decoration */
  .background__header-decoration {
    height: 40px;
    width: 100%;
  }

  .mylogo {
    font-size: 1.2rem;
    align-self: center;
  }

  .nav__menu {
    flex-direction: column;
    align-items: center;
    background-color: #000000a4;
    font-weight: var(--font-ultra-bold);
    position: fixed;
    top: 40px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    overflow-y: auto;
    left: 100%;
    transition: left 0.5s;
  }

  .nav__menu-item {
    text-align: center;
    line-height: 60px;
    width: 35%;
    border-radius: 30px;
    border-bottom: solid rgba(201, 201, 201, 0.815);
    border-left: solid rgba(201, 201, 201, 0.815);
    border-right: none;
    background: #464646a8;
  }

  .nav__menu-link:hover,
  .nav__menu-link_active,
  .nav__menu-link_active-all {
    background: none;
    color: #1395d1;
  }

  .nav__toggle {
    display: block;
  }

  .nav__menu-visible {
    left: 0;
  }

  .nav__toggle:focus:not(:focus-visible) {
    outline: none;
  }

  /* HOME */

  .home {
    /* grid-template-columns: 50%; */
    grid-template-rows: 60%;
    height: 40em;
    /* border: solid; */
  }

  .container__left {
    order: 2;
    grid-column: 3/1;
    height: 15em;
    /* border: yellow solid; */
  }

  .content__left-home {
    /* flex-direction: row; */
    padding: 0px 0px 0px 0px;
    justify-content: center;
  }

  /* style animation title left */
  .container__titles {
    position: absolute;
    top: 0;
    
    /* left: 0; */
    /* margin-left: 40px; */
    z-index: 2;
    width: 100%;
    height: 60%;
     /* border: solid blue; */
  }

  .welcome__title {
    font-size: 1.5rem;
    /* padding-left: 40px; */
    margin-top: 50px;
    /* text-align: center; */
    /* border: solid; */
  }

  .welcome__subtitle {
    font-size: 1.5rem;
    padding-left: 160px;
    /* border: solid; */
  }

  .title__home-name {
    font-size: 1.5em;
    margin-top: 180px;
    margin-bottom: -10px;
    text-align: center;
    /* margin-left: 40px; */
  }

  .title__home-name > span {
    font: 800 1em/1.7;
  }

  .title__home-dev {
    font-size: 1.1em;
    /* text-align: center; */
    margin-left: 125px;
    padding: 5px;
    /* border: solid; */
  }

  .container__p-home {
    margin-top: 0px;
    max-width: 450px;
    /* border: solid; */
  }

  .container__p-home p {
    font-size: 1rem;
    align-self: flex-start;
  }

  /* Image profile and background decoration */
  .container__right {
    /* grid-column: 1/3; */
    display: flex;
    justify-content: flex-end;
  }

  .container__position-profile {
    /* width: 50%; */
    border: solid white;
  }

  .container__image-profile {
    margin-top: 50px;
    width: 180px;
    height: 180px;
  }

  .background__home-decoration {
    width: 100%;
    height: 60%;
  }

  /* ABOUT ME AND EDUCATION */

  .about-me__education {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 130vh;
  }

  /* Background content decoration */
  .background__header-about {
    height: 40px;
  }

  /* Content left */

  .container__left-about {
    height: 100%;
    grid-column: 1/3;
  }

  /* title and paragraph */
  .content__left-about h1 {
    font-size: 1.5em;
    padding-bottom: 0.7em;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .container__p-about {
    max-width: 100%;
  }

  .content__left-about p {
    font-size: 0.9em;
    line-height: 1.4em;
    max-width: 650px;
  }

  /* EDUCATION SECTION */

  .container__right-education {
    height: 100%;
    grid-column: 1/3;
  }

  /* titles and paragraph */
  .content__right-education h1 {
    font-size: 1.5em;
    margin-top: -20px;
  }

  .content__right-education h3 {
    font-size: 1.2em;
    margin: 10px 0px 0px 0px;
  }

  .container__p-education {
    width: 700px;
  }

  .container__p-education p {
    font-size: 1em;
    margin-bottom: 2px;
  }

  .content__right-education li > h4 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .position__right-education {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .position__right-education p {
    font-size: 0.9em;
  }

  /* SKILLS AND OTHER COURSES */

  .skills__other-courses {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 185vh;
  }

  /* Background decoration */
  .background__skills-header {
    height: 40px;
  }

  .container__left-skills {
    grid-column: 1/3;
    order: 2;
    height: 100%;
  }

  /* titles skills */
  .title__skill {
    font-size: 1.5em;
    margin: 0px;
  }

  .subtitle__skill {
    font-size: 1.2em;
    margin-top: 25px;
  }

  .title__skills-bar {
    font-size: 1.2em;
  }

  .subtitle__skills-bar {
    font-size: 1em;
  }

  .container__skills-bar {
    width: 100%;
    margin-bottom: 2em;
  }

  .skills__header {
    margin-bottom: 1.4rem;
  }

  .skills__icon,
  .skills__arrow {
    font-size: 2em;
  }

  /* Experience percentage */
  .skills__name {
    font-size: 0.9em;
  }

  .skills__number {
    font-size: 0.9em;
  }

  .skills__bar,
  .skills__percentage {
    height: 10px;
  }

  /* OTHER COURSES */

  .container__right-courses {
    grid-column: 1/3;
    height: 100%;
  }

  .content__right-courses h1 {
    font-size: 1.5em;
    margin-top: 50px;
  }

  .container__certificated-courses {
    width: 100%;
  }

  .content__right-courses h4 {
    font-size: 1.1em;
  }

  .position-courses {
    padding-bottom: 8px;
  }

  /* Certificate */
  .shakeX a {
    font-size: 1em;
  }

  /* PROJECTS EXPERIENCE */
  .projects {
    grid-template-columns: 1fr;
    height: 180vh;
  }

  /* Background decoration */
  .background__header-projects {
    height: 40px;
  }

  .content__right-projects {
    margin-top: 0;
  }

  .container__container-left_projects,
  .container__container-right_projects {
    width: 100%;
    align-self: center;
  }

  .content__left-projects h1 {
    font-size: 1.5em;
    margin-top: 50px;
  }

  .content__left-projects h2 {
    font-size: 1.2em;
  }

  .subtitle__name-projects {
    font-size: 1.1em;
    margin-bottom: 6px;
  }

  .subtitle__date-projects {
    font-size: 1em;
  }

  .paragraph__projects {
    font-size: 0.9em;
    line-height: 1.4em;
    padding-top: 3px;
    padding-bottom: 15px;
  }

  /* FOOTER */

  .footer {
    height: 130vh;
  }

  .background__footer-decoration {
    height: 100%;
  }

  .container__nav-form {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .title__footer-container {
    grid-column: 1/3;
    height: 80%;
    margin-left: 0;
    padding-bottom: 0px;
    justify-content: flex-start;
  }

  /* style animation title */
  .title__name-footer {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .title__footer {
    font: 800 2.5em/1 "Neuto", sans-serif;
    letter-spacing: 0.3em;
    padding: 20px;
  }

  .footer__form {
    grid-column: -3 / -1;
    height: 100%;
    margin-top: -100px;
  }

  .footer__form h2 {
    font-size: 1.3em;
  }

  .style__label {
    font-size: 1.1em;
  }

  .footer__input {
    height: 30px;
    width: 300px;
  }

  .footer__input-message {
    height: 60px;
    width: 300px;
  }

  .footer__button {
    height: 30px;
    width: 300px;
  }

  .subtitle__footer-name {
    font-size: 1.2rem;
    margin: 0px 0px 30px 50px;
  }

  .subtitle__footer-copy {
    font-size: 1.2rem;
    margin: 0px 50px 30px 0px;
  }

  .footer__social {
    padding-top: 25px;
    padding-inline: 40px;
  }

  .link__items {
    font-size: 1.1rem;
  }

  .link__names-active {
    height: 40px;
  }

  .footer__icons {
    font-size: 1.3em;
  }
}
