@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  background-color: #777777c4;
}

/* VARIABLES CSS */
:root {
  /* COLORS */

  --body-color: linear-gradient(
    to bottom,
    hsla(170, 32%, 26%, 0.836),
    hsla(162, 16%, 64%, 0.829)
  );
  --title-color-all: hsl(185, 55%, 68%);
  --title-hover: rgb(21, 105, 145);
  --title-color: hsla(0, 0%, 87%, 0.877);
  --color-icon: hsl(0, 0%, 24%);

  --container-color: #fff;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-ultra-bold: 800;
}

/* NAVBAR HEADER */

.header {
  position: fixed;
  width: 100%;
  height: 45px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: hsla(10, 0%, 40%, 0.2);
}

/* Header decoration */
.background__header-decoration {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  border: none;
  z-index: 2;
}

.image-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mylogo {
  position: relative;
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  margin-left: 15px;
  color: var(--title-color-all);
}

.mylogo > span:hover {
  color: var(--title-hover);
}

.navbar a {
  position: relative;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  margin-left: 15px;
  color: var(--title-color-all);
}

/* El hover cambia de color las etiquetas "a" */
.navbar a:hover {
  color: var(--title-hover);
}

/* HOME */

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background: var(--body-color);
}

/* container left */
.container__left {
  width: 100%;
}

.content__left-home {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 80px 25px 0px 25px;
}

/* style animation title left */
.welcome__title {
  font-size: 2.7rem;
  color: var(--title-color);
  font-weight: var(--font-ultra-bold);
  margin-bottom: -15px;
}

.welcome__subtitle {
  font-size: 2.7rem;
  color: var(--title-color);
  font-weight: var(--font-ultra-bold);
  margin-bottom: 30px;
  padding-left: 150px;
}

.title__home-name {
  font-size: 3.4em;
  color: var(--title-color);
}

.title__home-name > span {
  text-align: center;
  text-transform: uppercase;
  font: 800 1.3em/1.7 "Neuto", "sanserif";
  text-shadow: 0 0 60px rgba(155, 155, 155, 0.884);
  -webkit-text-fill-color: text;
  color: transparent;
  animation: fadeHome 4s infinite;
  animation-direction: alternate;
}

@keyframes fadeHome {
  0% {
    background: #03c4ffc9;
    background-clip: text;
  }
  40% {
    background: #15b882;
    background-clip: text;
  }
  65% {
    background: #23e674de;
    background-clip: text;
  }
  100% {
    background: #23d8d8e5;
    background-clip: text;
  }
}

.title__home-dev {
  font-size: 2.7em;
  color: var(--title-color);
  background-clip: text;
  white-space: nowrap;
  border-right: solid 6px;
  width: 23ch;

  animation: typing 3s steps(23), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-right: transparent;
  }
}

.content__left-home p {
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: var(--font-ultra-bold);
}

/* Image profile and background decoration */
.container__right {
  width: 100%;
}

/* Nota: z-index es para que la imagen se ponga encima o del texto */

.container__image-profile {
  position: absolute;
  overflow: hidden;
  top: 18%;
  left: 56%;
  right: 150px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 2;
  /* border-bottom: #0b416d solid 2px;
  border-top: #0b416d solid 2px; */
  /* Nota: ravisar si agrego estilos o no */
}

.container__back-img img {
  position: relative;
  object-fit: cover;
  border-left: solid #0b416d;
  border-right: solid #0b416d;
  width: 60%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background__home-decoration {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: none;
}

html {
  scroll-behavior: smooth;
}
/* HOME END */

/* ABOUT-ME AND EDUCATION SECTION*/

.about-me__education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100vh;
  align-items: center;
}

/* ABOUT ME SECTION */

/* Background content decoration */
.background__about-content {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
  transform: scaleX(-1);
}

.background__header-about {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 1;
  top: 0;
  border: none;
}

/* Content lef */

.container__left-about {
  width: 100%;
  height: 100%;
}

.content__left-about {
  display: flex;
  flex-direction: column;
  padding: 70px 20px 0px 20px;
}

/* title and paragraph */
.content__left-about h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
  font-weight: var(--font-ultra-bold);
  color: var(--title-color);
}

.content__left-about p {
  font-size: 1.1em;
  font-weight: var(--font-semi-bold);
}

/* EDUCATION SECTION */

.container__right-education {
  height: 100%;
  width: 100%;
}

.content__right-education {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 70px 20px 0px 20px;
}

/* titles and paragraph */
.content__right-education h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
  font-weight: var(--font-ultra-bold);
  color: var(--title-color);
}

.content__right-education h3 {
  font-size: 1.5rem;
  text-align: end;
  padding-bottom: 20px;
  padding-right: 30px;
}

.content__right-education li {
  list-style: none;
  padding-bottom: 20px;
}

.content__right-education li > h4 {
  font-size: 1.2rem;
}

.position__right-education {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.position__right-education p {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-size: 1rem;
}
/* ABOUT ME AND EDUCATION END */

/* SKILLS AND OTHER COURSES */

/* SKILLS */

.skills__other-courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100vh;
}

/* Background decoration */

.background__skills-content {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
}

.background__skills-header {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 1;
  top: 0;
  border: none;
}

/* SKILLS SECTION*/

/* content skills */
.container__left-skills {
  width: 100%;
  height: 100vh;
}

.content__left-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

/* titles skills */
.title__skill {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 80px;
  color: var(--title-color);
}

.subtitle__skill {
  font-size: 1.4rem;
}

.title__skills-bar {
  font-size: 1.4rem;
  color: var(--title-color);
}

.subtitle__skills-bar {
  font-size: 1.1rem;
  justify-content: start;
}

/* Container skills bar */
.container__skills-bar {
  width: 400px;
}

.skills__header {
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* Icons */
.skills__icon,
.skills__arrow {
  font-size: 2.7em;
  color: var(--color-icon);
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__arrow {
  margin-left: auto;
  transition: 0.6s;
}

/* Experience percentage */
.skills__list {
  padding-left: 20px;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skills__name {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.skills__number {
  color: var(--title-color);
}

.skills__bar,
.skills__percentage {
  height: 12px;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

.skills__bar {
  background-color: #e7e7e773;
}

.skills__percentage {
  display: block;
  background-color: rgba(34, 80, 76, 0.897);
}

/* Bar experience */
.skills__html {
  width: 0;
}
.skills__css {
  width: 0;
}
.skills__js {
  width: 0;
}
.skills__react {
  width: 0;
}
.skills__node {
  width: 0;
}
.skills__mongodb {
  width: 0;
}

/* Disguise skills */
.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* OTHER COURSES */

/* content */
.container__right-courses {
  width: 100%;
  height: 100%;
}

.content__right-courses {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 70px 20px 0px 20px;
}

.content__right-courses h1 {
  text-align: center;
  color: var(--title-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content__right-courses h4 {
  font-size: 1.2rem;
  border-top: solid #0b416d 4px;
}

.content__right-courses li {
  list-style: none;
}

.position-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding-bottom: 15px;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

/* Certificate */
/* Nota: también me aplica estilos a los certificados de educación */
.shakeX {
  display: flex;
  align-items: center;
}

.shakeX a {
  font-weight: var(--font-ultra-bold);
  font-size: 1rem;
  text-decoration: none;
  color: var(--title-color);
  padding-inline: 6px;
}

.shakeX i {
  font-size: 1.3rem;
  color: var(--color-icon);
}

.shakeX a:hover {
  color: var(--title-hover);
}

/* PROJECTS EXPERIENCE */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100vh;
}

/* Background decoration */
.background__content-projects {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
  transform: scaleX(-1);
}

.background__header-projects {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 1;
  border: none;
}

/* Content left */
.container__left-projects {
  height: 100%;
  width: 100%;
}

.content__left-projects {
  display: flex;
  flex-direction: column;
  padding: 70px 20px 0px 20px;
  height: 100%;
}

/* Content right */
.container__right-projects {
  width: 100%;
  height: 100%;
}

.content__right-projects {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 120px 20px 0px 20px;
}

/* Titles and paragraph */
.position__projects-date {
  display: flex;
  justify-content: space-between;
}

.content__left-projects h1 {
  font-size: 2.5rem;
  color: var(--title-color);
  padding-bottom: 15px;
  text-align: center;
}

.content__left-projects h2 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.content__left-projects li,
.content__right-projects li {
  list-style: none;
}

.subtitle__name-projects {
  font-size: 1.3rem;
  color: var(--title-color);
  border-top: solid #0b416d 4px;
}

.subtitle__date-projects {
  font-size: 1.1em;
  color: var(--color-icon);
  padding-inline: 20px;
  padding-bottom: 10px;
}

.paragraph__projects {
  font-size: 1em;
  font-weight: var(--font-semi-bold);
  padding-bottom: 15px;
}

/* FOOTER */

.footer {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Backgroun animation footer */
.background__footer-decoration {
  position: absolute;
  height: 600px;
  width: 100%;
  bottom: 0;
  z-index: -1;
  border: none;
}

/* Content footer */

.content__footer {
  height: 85%;
  border-bottom: 4px solid #1c85db;
  position: relative;
}

.container__nav-form {
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.title__footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 40px;
  margin-left: 100px;
}

.title__footer {
  text-align: center;
}

/* style animation title */

.title__name-footer {
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.856), hsl(0, 0%, 0%));
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--title-color);
  background-clip: text;
  white-space: nowrap;
  width: 16.5ch;
  border-right: solid 6px;

  animation: typing 4s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-right: transparent;
  }
}

.title__footer {
  text-align: center;
  text-transform: uppercase;
  font: 800 3.5em/1 "Neuto", sans-serif;
  letter-spacing: 0.3em;
  padding: 15px;
  display: block;
  margin: 0;
  text-shadow: 0 0 60px rgba(255, 255, 255, 0.747);
  -webkit-text-fill-color: text;
  color: transparent;
  animation: fade 3s infinite;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    background: #1b704dde;
    background-clip: text;
  }
  50% {
    background: #126288;
    background-clip: text;
  }
  100% {
    background: #80888dd2;
    background-clip: text;
  }
}

.nav__link-footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  list-style: none;
  margin-top: 20px;
}

.nav__link-footer a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 1.3em;
  font-weight: 610;
  color: var(--title-color-all);
}

.nav__link-footer a:hover {
  color: var(--title-hover);
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  grid-area: 1 / 2;
  margin-top: 100px;
}

.footer__form h2 {
  font-size: 2em;
  text-align: center;
  color: var(--title-color);
}

.footer__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__inputs {
  display: flex;
  flex-direction: column;
}

.style__label {
  font-size: 1.4em;
  padding-left: 12px;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.footer__input {
  height: 30px;
  width: 400px;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: var(--title-color);
  outline: 3px solid var(--title-color-all);
  border: none;
}

.container__textarea {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.footer__input-message {
  height: 80px;
  width: 400px;
  padding: 15px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: var(--title-color);
  outline: 3px solid var(--title-color-all);
  border: none;
  overflow: auto;
}

.footer__button {
  height: 35px;
  width: 200px;
  margin-top: 10px;
  background-color: var(--title-color-all);
  outline: 3px solid #000;
  border: none;
  font-size: 1rem;
  font-weight: var(--font-ultra-bold);
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
}

.footer__button:hover {
  background-color: var(--title-hover);
}

.container__background-footer {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 15%;
  background: var(--body-color);
}

.footer__copy-container {
  margin-top: 45px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle__footer {
  font-size: 1.5rem;
  padding-inline: 45px;
  color: #222222;
}

.footer__social {
  margin-top: -20px;
  display: flex;
}

.footer__icons {
  font-size: 2.4em;
  text-decoration: none;
  padding-inline: 10px;
  color: var(--color-icon);
}

.footer__icons i:hover {
  color: var(--title-hover);
}

/* RESPONSIVE QUERIES */

@media screen and (max-width: 1140px) {
  .mylogo {
    font-size: 2rem;
  }

  .navbar a {
    font-size: 1.3rem;
  }

  .content h3 {
    font-size: 26px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .content p {
    width: 400px;
    height: 150px;
    font-size: 18px;
    margin-top: -20px;
  }

  .image-container {
    right: 130px;
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 950px) {
  .mylogo {
    font-size: 1.8rem;
  }

  .navbar a {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .content h3 {
    font-size: 22px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .content p {
    width: 350px;
    height: 150px;
    font-size: 16px;
    margin-top: -25px;
  }

  .image-container {
    top: 30%;
    right: 110px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .mylogo {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .navbar a {
    font-size: 1rem;
    margin-left: 15px;
  }

  .content h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .content p {
    width: 300px;
    height: 150px;
    font-size: 14px;
    margin-top: -30px;
  }

  .image-container {
    top: 32%;
    right: 100px;
    width: 250px;
    height: 250px;
  }
}
