@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  /* font-family: "Libre Baskerville", serif; */
  /* font-family: "Poppins", sans-serif; */
}

body {
  color: rgb(11, 11, 11);
}

/*===================== VARIABLES CSS ===================*/
:root {
  --header-height: 3rem;
  --skills-bar-length: 0%;

  /*============= COLORS ==============*/
  /* Change favorite color */
  /* Purple 250 - Green 142 - Blue 230 - Pink 340 */

  --hue-color-230: 180;
  /* HSL color mode 230 */
  --first-color: hsl(var(--hue-color-230), 34%, 10%);
  --first-color-second: hsl(var(--hue-color-230), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color-230), 32%, 100%);
  --first-color-lighter: hsl(var(--hue-color-230), 23%, 34%);
  --first-title-color: hsl(var(--hue-color-230), 56%, 15%);
  --fisrt-text-color: hsl(var(--hue-color-230), 32%, 100%);
  --first-text-color-light: hsl(var(--hue-color-230), 10%, 0%);
  --first-input-color: hsl(var(--hue-color-230), 30%, 30%);
  --first-body-color: hsl(var(--hue-color-230), 5%, 76%);

  --container-color: #fff;

  /*============= FONT AND TYPOGRAPHY ==============*/
  --body-font: "Poppins", sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*================= FONT WEIGHT =================*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*=================== MARGENES BUTTOM ===============*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*====================== Z INDEX ======================*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* HOME */

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: hsla(180, 40%, 23%, 0.350);
}

/* Header decoration */
.image-header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
}

.image-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.mylogo {
  position: relative;
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
  margin-left: 15px;
  color: var(--first-color-alt);
}

.mylogo > span:hover {
  color: var(--first-color-lighter);
}

.navbar a {
  position: relative;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  margin-left: 15px;
  color: var(--first-color-alt);
}

/* El hover cambia de color las etiquetas "a" */
.navbar a:hover {
  color: var(--first-color-lighter)
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: var(--first-body-color);
}

/* content home */

.content {
  margin-left: 50px;
}

.content h3{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.content h1 {
  font-size: 3rem;
}

.content > h1 > span {
  color: var(--first-input-color);
  text-transform: uppercase;
  text-shadow: -4px 7px 6px hsl(180, 34%, 15%);
  background-clip: text;
}

/* style animation title */
.content > h3 > span {
  color: var(--first-input-color);
  text-shadow: -4px 7px 6px hsl(180, 34%, 15%);
  background-clip: text;
  display: inline-block;
  white-space: nowrap;
  border-right: 4px solid;
  padding-left: 20px;
  width: 27ch;

  animation: typing 4s steps(27), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-right:  transparent; }
}

.content p {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 550px;
  height: 150px;
  font-size: 1.6rem;
}

/* IMAGE PROFILE */

/* Nota: z-index es para que la imagen se ponga encima o del texto */
.image-container {
  position: absolute;
  top: 18%;
  left: 56%;
  right: 150px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.image-background {
  position: absolute;
  /* top: 7%; */
  left: 50%;
  width: 673px;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.image-background img {
  position: absolute;
  object-fit: cover;
  width: 750px;
  height: 800px;
}

html {
  scroll-behavior: smooth;
}

/* ABOUT-ME AND EDUCATION SECTION*/

.about-me__education {
  position: relative;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--first-body-color);
}

/* Background decoration */

.image-about-section-top {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 1;
  top: 0;
}

.image-about-section-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-about-section-bottom {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 1;
  bottom: 0;
}

.image-about-section-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ABOUT ME SECTION */

.content__about-me p {
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-weight: 500;
}

/* title and paragraph */
.content__about-me {
  width: 50%;
  padding: 30px;
}

.content__about-me h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 30px;
  color: var(--first-color-lighter);
}

/* EDUCATION SECTION */

.content__education {
  width: 50%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.content__education div {
  width: 100%;
}

.content__education ul {
  padding-left: 40px;
  padding-right: 40px;
}

.content__education ul div {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}

.content__education li {
  font-size: 1.3rem;
  font-weight: 600;
  list-style: none;
}

.content__education h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 15px;
  color: var(--first-color-lighter);
}

.content__education h3 {
  font-size: 1.5rem;
  text-align: end;
  padding-bottom: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.content__education p {
  font-weight: 600;
  padding-bottom: 30px;
}

/* SKILLS AND OTHER COURSES */

.skills__other-courses {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: var(--first-body-color);
  justify-content: space-between;
  position: relative;
}

/* Background decoration */
.image-background-left {
  position: absolute;
  height: 100%;
  width: 80px;
  z-index: 1;
}

.image-background-left img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-background-right {
  position: absolute;
  height: 100%;
  width: 80px;
  right: 0;
  z-index: 1;
}

.image-background-right img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* SKILLS SECTION*/

.content__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: absolute;
  padding-left: 80px;
  left: 0;
  margin-top: -30px;
}

.title__skill {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 50px;
  color: var(--first-color-lighter);
}

.container__skills {
  row-gap: 0;
  width: 450px;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* ICON */
.skills__icon,
.skills__arrow {
  font-size: 2.5rem;
  color: var(--first-color-lighter);
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

/* TITLES */
.title__skills {
  font-size: 1.7rem;
}

.subtitle__skills {
  font-size: 1rem;
  color: var(--first-color-lighter);
  justify-content: start;
}

/* EXPERIENCE PERCENTAGE */
.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__name {
  font-size: 1rem;
  font-weight: 600;
}

.skills__bar,
.skills__percentage {
  height: 10px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

/* BAR EXPERIENCE */
.skills__html {
  width: 85%;
}
.skills__css {
  width: 55%;
}
.skills__js {
  width: 30%;
}
.skills__react {
  width: 35%;
}
.skills__node {
  width: 45%;
}
.skills__mongodb {
  width: 50%;
}

/* DISGUISE SKILLS */
.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* OTHER COURSES SECTION */

.content__other-courses {
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
  padding-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.container__other-courses h1 {
  font-size: 2.5rem;
  padding-bottom: 5px;
  text-align: center;
  color: var(--first-color-lighter);
}

.container__other-courses li {
  list-style: none;
  padding-bottom: 7px;
}

.container__other-courses li > p {
  font-weight: 700;
  font-size: 1.1rem;
}

.position-courses {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 2px;
  font-weight: 600;
}

/* Certificate */

.shakeX a {
  font-weight: 800;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--first-color);
  padding-inline: 6px;
}

.shakeX i {
  font-size: 1.3rem;
  color: var(--first-color-lighter);
}

.shakeX a:hover {
  color: var(--first-color-lighter);
}

/* PROJECTS EXPERIENCE */

.projects__experience {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: var(--first-body-color);
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Background decoration */
.image-projects-top {
  position: absolute;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.image-projects-top img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-projects-bottom {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.image-projects-bottom img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
}

.container__projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
}

.container__projects h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 15px;
}

.container__projects > h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.container__projects li {
  list-style: none;
}

.container__projects li > div {
  display: flex;
  justify-content: space-between;
}

.container__projects li > div > h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.container__projects p {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.content__projects-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 20px;
}

.container__projects-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
  margin-top: -40px;
}

.container__projects-second h3 {
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.container__projects-second li {
  list-style: none;
}

.container__projects-second li > div {
  display: flex;
  justify-content: space-between;
}

.container__projects-second li > div > h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.container__projects-second p {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
}

/* FOOTER */

.content__footer {
  background-color: #1D293F;
  height: 50vh;
  /* background-size: cover; */
  /* position: relative; */
  /* width: 100%; */
  margin: 0 auto;
}

.footer_title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer_title, .footer_newsletter {
  /* color: #fff; */
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  /* padding-bottom: 120px; */
  /* margin: 0 auto; */
}

.nav--footer {
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
}

.nav_link--footer {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer_inputs {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.footer_input {
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.footer_submit {
  margin-left: auto;
  display: inline-block;
  /* height: 50px; */
  padding-top: 30px 40px;
  background-color: #2091F9;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.footer_copy {
  padding: 30px 0;
  /* --padding-container: 30px 0; */
  text-align: center;
  color: #fff;
}

.footer_copyrigth {
  font-weight: 300;
}

.footer_icons {
  margin-bottom: 10px;
}

.footer_img {
  width: 30px;
}

/* RESPONSIVE QUERIES */

@media screen and (max-width: 1140px) {
  .mylogo {
    font-size: 2rem;
  }

  .navbar a {
    font-size: 1.3rem;
  }

  .content h3 {
    font-size: 26px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .content p {
    width: 400px;
    height: 150px;
    font-size: 18px;
    margin-top: -20px;
  }

  .image-container {
    right: 130px;
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 950px) {
  .mylogo {
    font-size: 1.8rem;
  }

  .navbar a {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .content h3 {
    font-size: 22px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .content p {
    width: 350px;
    height: 150px;
    font-size: 16px;
    margin-top: -25px;
  }

  .image-container {
    top: 30%;
    right: 110px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .mylogo {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .navbar a {
    font-size: 1rem;
    margin-left: 15px;
  }

  .content h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .content h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .content p {
    width: 300px;
    height: 150px;
    font-size: 14px;
    margin-top: -30px;
  }

  .image-container {
    top: 32%;
    right: 100px;
    width: 250px;
    height: 250px;
  }
}
